<script lang="ts" setup>
import { ref, reactive, watch, computed, toRefs } from "vue";
import DemoLayout from "../../components/DemoLayout.vue";
import DevDate from "../../components/DevDate.vue";
import DevString from "../../components/DevString.vue";
import DevSwitch from "../../components/DevSwitch.vue";
import DevRange from "../../components/DevRange.vue";
import CartesianScaler from "../../../lib/components/CartesianScaler.vue";
import DDV from "../../../lib/components/DDV.vue";
import Axis from "../../../lib/components/Axis.vue";
import {
  type Domain,
  fromRange,
  isDateDomain,
  isNumberDomain
} from "../../../lib/domain";
import type { Layout } from "../../../lib/common";
import { usePannedAndZoomedDomain } from "../../../lib/composables/usePannedAndZoomedDomain";
import { useChart } from "../../../lib/composables/useChart";

const isDateAxis = ref(false);
const domain = ref<Domain>({ min: 0, max: 10 });

const axisProps = reactive<{
  label: string;
  isVertical: boolean;
  isRight: boolean;
  drawGridLines: boolean;
  plotMarginPx: number;
  tickLengthPx: number;
  labelMarginPx: number;
  enablePan: boolean;
  enableZoom: boolean;
  subTicks: number;
  aspectRatio: number;
  axisIsReversed: boolean;
  tickFrequency: string;
}>({
  label: "Sample Axis",
  isVertical: false,
  isRight: false,
  drawGridLines: true,
  plotMarginPx: 0,
  tickLengthPx: 8,
  labelMarginPx: 12,
  enablePan: true,
  enableZoom: true,
  subTicks: 0,
  aspectRatio: 2,
  axisIsReversed: false,
  tickFrequency: "60px"
});

watch(isDateAxis, isDateAxis => {
  if (isDateAxis) {
    domain.value = {
      min: new Date(Date.UTC(2024, 7, 1, 0, 0, 0)),
      max: new Date(Date.UTC(2024, 8, 1, 0, 0, 0))
    };
  } else {
    domain.value = { min: 0, max: 10 };
  }
});

const wrapper = ref<InstanceType<typeof DDV>>();
const { layout, mouseState, reserveSpace, reservations } = useChart(wrapper);
console.log(reservations);
const axis = computed(() => (axisProps.isVertical ? "y" : "x"));

const { axisIsReversed, enablePan, enableZoom } = toRefs(axisProps);

const { adjustedDomain } = usePannedAndZoomedDomain(
  domain,
  axis,
  axisIsReversed,
  computed(() => wrapper.value?.$el),
  mouseState,
  enablePan,
  enableZoom
);

const transform = (layout: Layout) => {
  const m = layout.margins;
  if (axisProps.isVertical) {
    if (axisProps.isRight) {
      return `translate(${m.left + layout.plotWidth}  ${m.top})`;
    }
    return `translate(${m.left} ${m.top})`;
  }
  return `translate(${m.left} ${m.top})`;
};
const xTarget = computed(() =>
  layout.value ? fromRange(layout.value.plotWidth) : { min: 0, max: 100 }
);
const yTarget = computed(() =>
  layout.value ? fromRange(layout.value.plotHeight) : { min: 0, max: 100 }
);
const aspectRatio = computed(() => axisProps.aspectRatio);
</script>

<template>
  <DemoLayout>
    <template #default>
      <DDV
        ref="wrapper"
        class="axis-demo"
        :layout="layout"
        :mouse-state="mouseState"
      >
        <CartesianScaler
          v-if="layout?.plotWidth && layout?.plotHeight"
          :x-target="xTarget"
          :y-target="yTarget"
          :x-source="adjustedDomain"
          :y-source="adjustedDomain"
          :reverse-x-axis="axisIsReversed"
          :reverse-y-axis="axisIsReversed"
        >
          <template #default="{ xScaler, yScaler }">
            <rect
              class="bg"
              :x="layout.margins.left"
              :y="layout.margins.top"
              :width="layout.plotWidth"
              :height="layout.plotHeight"
              fill="var(--plotSurface)"
            />
            <g v-if="xScaler && yScaler" :transform="transform(layout)">
              <!-- dont set x and y on the axis for this demo, use the transform on the g above -->
              <Axis
                :layout="layout"
                v-bind.camel="axisProps"
                :scaler="axisProps.isVertical ? yScaler : xScaler"
                :domain="adjustedDomain"
                @update:space="reserveSpace"
              />
            </g>
          </template>
        </CartesianScaler>
      </DDV>
    </template>
    <template #controls>
      <DevSwitch v-model="isDateAxis" label="Date Axis" />

      <template v-if="isDateAxis">
        <DevDate
          v-if="domain && isDateDomain(domain)"
          v-model="domain.min"
          label="domain.min"
          :max="domain.max"
          :min="new Date(Date.UTC(2010, 1, 1))"
          :step="1000 * 60 * 60 * 24"
        />
        <DevDate
          v-if="domain && isDateDomain(domain)"
          v-model="domain.max"
          label="domain.max"
          :max="new Date(Date.UTC(2030, 1, 1))"
          :min="domain.min"
          :step="1000 * 60 * 60 * 24"
        />
      </template>
      <template v-else>
        <DevRange
          v-if="domain && isNumberDomain(domain)"
          v-model="domain.min"
          label="domain.min"
          :max="domain.max"
          :min="-10_000"
          :step="138"
        />
        <DevRange
          v-if="domain && isNumberDomain(domain)"
          v-model="domain.max"
          label="domain.max"
          :max="10_000"
          :min="domain.min"
          :step="138"
        />
      </template>
      <DevSwitch v-model="axisProps.axisIsReversed" label="Reverse?" />
      <DevString
        v-model="axisProps.tickFrequency"
        label="CSS Distance per tick (tickFrequency)"
      />
      <DevRange
        v-model="axisProps.subTicks"
        label="Sub Ticks"
        :max="11"
        :min="0"
        :step="1"
      />

      <DevSwitch v-model="axisProps.isVertical" label="isVertical" />
      <DevSwitch v-model="axisProps.isRight" label="isRight" />
      <DevSwitch v-model="axisProps.drawGridLines" label="drawGridLines" />
      <DevRange
        v-model="axisProps.plotMarginPx"
        label="plotMarginPx"
        :min="-50"
        :max="50"
        :step="1"
      />
      <DevRange
        v-model="axisProps.tickLengthPx"
        label="tickLengthPx"
        :min="-50"
        :max="50"
        :step="1"
      />
      <DevRange
        v-model="axisProps.labelMarginPx"
        label="labelMarginPx"
        :min="-50"
        :max="50"
        :step="1"
      />
      <DevRange
        v-model="axisProps.aspectRatio"
        label="aspectRatio"
        :min="0.25"
        :max="10"
        :step="0.25"
      />
    </template>
  </DemoLayout>
</template>

<style lang="scss" scoped>
.axis-demo {
  :deep(svg.outer) {
    // min-height: 250px; // this works too
    aspect-ratio: v-bind(aspectRatio);
  }
}
</style>
