<script lang="ts" setup>
import DemoLayout from "../../components/DemoLayout.vue";
import DevSwitch from "../../components/DevSwitch.vue";
import BarChart from "../../../lib/charts/BarChart.vue";
import { reactive } from "vue";
import DevRange from "../../components/DevRange.vue";
const dataSets = [
  {
    title: "Sample A",
    xAxisLabel: "Things",
    yAxisLabel: "Points",
    points: [
      { x: "Alpha", y: 1 },
      { x: "Bravo", y: 2 },
      { x: "Charlie", y: 3 },
      { x: "Delta", y: 4 },
      { x: "Echo", y: 5 },
      { x: "Foxtrot", y: 6 }
    ]
  },
  {
    title: "Sample B",
    points: [
      { x: "Alpha", y: 3 },
      { x: "Bravo", y: 6 },
      { x: "Charlie", y: 13 },
      { x: "Delta", y: 6 },
      { x: "Echo", y: 6 }
    ]
  },
  {
    title: "Sample C",
    points: [
      { x: "Alpha", y: 14 },
      { x: "Bravo", y: 7 }
    ]
  }
];
const state = reactive({
  stackSeries: true,
  shiftSeries: 30
});
</script>

<template>
  <DemoLayout>
    <template #default>
      <BarChart
        :data-sets="dataSets"
        :stack-series="state.stackSeries"
        :shift-series="state.shiftSeries"
      />
      <div v-if="0" class="level">
        <BarChart :data-sets="dataSets" :stack-series="state.stackSeries" />
        <BarChart :data-sets="dataSets" :stack-series="state.stackSeries" />
      </div>
    </template>
    <template #controls>
      <DevSwitch v-model="state.stackSeries" label="stackSeries" />
      <DevRange
        v-model="state.shiftSeries"
        label="shiftSeries"
        :disabled="state.stackSeries"
        :min="-100"
        :max="100"
      />
    </template>
  </DemoLayout>
</template>

<style lang="scss" scoped>
.level {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
</style>
