<script lang="ts" setup>
import DemoLayout from "../../components/DemoLayout.vue";
import DevSwitch from "../../components/DevSwitch.vue";
import BasicChart from "../../../lib/charts/BasicChart.vue";
import { computed, reactive, ref } from "vue";
import { useChart } from "../../../lib/composables/useChart";
import { startOfMonth, add } from "date-fns";

const wrapper = ref<InstanceType<typeof BasicChart>>();
const { layout, mouseState, reserveSpace } = useChart(
  computed(() => wrapper.value?.$el)
);

const day1 = startOfMonth(new Date());
const day2 = add(startOfMonth(new Date()), { days: 1 });
const dataSets = [
  {
    title: "Sample A",
    xAxisLabel: "Things",
    yAxisLabel: "Points",
    points: [
      { x: day1, y: 1 },
      { x: day2, y: 2 }
    ]
  },
  {
    title: "Sample B",
    xAxisLabel: "Things",
    yAxisLabel: "Points",
    points: [
      { x: day1, y: 4 },
      { x: day2, y: 6 }
    ]
  }
];

const state = reactive({
  stackSeries: true,
  shiftSeries: 20
});
</script>

<template>
  <DemoLayout>
    <template #default>
      <BasicChart
        ref="wrapper"
        class="chart"
        :layout="layout"
        :mouse-state="mouseState"
        :data-sets="dataSets"
        :stack-series="state.stackSeries"
        :shift-series="state.shiftSeries"
        enable-x-panning
        @update:space="reserveSpace"
      />
    </template>
    <template #controls>
      <DevSwitch v-model="state.stackSeries" label="stackSeries" />
    </template>
  </DemoLayout>
</template>

<style lang="scss" scoped>
.chart {
  aspect-ratio: 2;
}
</style>
