<script lang="ts" setup>
import { ref, reactive } from "vue";
import DemoLayout from "../../components/DemoLayout.vue";
import DDV from "../../../lib/components/DDV.vue";
import Crosshairs from "../../../lib/components/Crosshairs.vue";
import DevRange from "../../components/DevRange.vue";
import DevSwitch from "../../components/DevSwitch.vue";
import { useChart } from "../../../lib/composables/useChart";

const wrapper = ref<InstanceType<typeof DDV>>();
const { layout, mouseState, reserveSpace } = useChart(wrapper);

const state = reactive({
  ignoreX: false,
  ignoreY: false,
  midPointPaddingPx: 20,
  isAnimated: true
});
</script>

<template>
  <DemoLayout>
    <template #default>
      <DDV
        ref="wrapper"
        :layout="layout"
        :mouse-state="mouseState"
        :reserve-space="reserveSpace"
      >
        <text class="hint" x="50%" y="50%">HOVER ME</text>
        <Crosshairs
          v-if="mouseState"
          :layout="layout"
          :mouse-state="mouseState"
          v-bind.camel="state"
        />
      </DDV>
    </template>

    <template #controls>
      <DevSwitch v-model="state.ignoreX" label="ignoreX" />
      <DevSwitch v-model="state.ignoreY" label="ignoreY" />
      <DevSwitch v-model="state.isAnimated" label="isAnimated" />
      <DevRange
        v-model="state.midPointPaddingPx"
        label="midPointPaddingPx"
        :min="0"
        :max="100"
        :step="1"
      />
    </template>
  </DemoLayout>
</template>

<style lang="scss" scoped>
.ddv {
  --chartSurface: var(--plotSurface);
  :deep(svg.outer) {
    min-height: 400px;
  }
  text.hint {
    font-size: 40px;
    text-anchor: middle;
    dominant-baseline: middle;
    fill: var(--plotColor0);
  }
}
</style>
