<script lang="ts" setup>
import { computed, ref } from "vue";
import DemoLayout from "../../components/DemoLayout.vue";
import DDV from "../../../lib/components/DDV.vue";
import DevRange from "../../components/DevRange.vue";
import { useChart } from "../../../lib/composables/useChart";

const wrapper = ref<InstanceType<typeof DDV>>();
const { layout, mouseState, reserveSpace } = useChart(wrapper, {
  resizeThrottleMs: 0
});

const aspectRatio = ref(4);
const minimumHeightPx = ref(200);
const minimumHeightPxCss = computed(() => `${minimumHeightPx.value}px`);
</script>

<template>
  <div>
    <DemoLayout>
      <template #default>
        <DDV
          ref="wrapper"
          :layout="layout"
          :mouse-state="mouseState"
          :reserve-space="reserveSpace"
          class="ddv"
        >
          <line
            x1="0"
            y1="100%"
            x2="100%"
            y2="0"
            stroke="var(--activePlotColor)"
          />
          <line
            x1="0"
            y1="0"
            x2="100%"
            y2="100%"
            stroke="var(--activePlotColor)"
          />
        </DDV>
      </template>
      <template #controls>
        <DevRange
          v-model.lazy.number="aspectRatio"
          label="Aspect Ratio (w/h)"
          :min="0.25"
          :max="10"
          :step="0.25"
        />
        <DevRange
          v-model.number="minimumHeightPx"
          label="minimumHeightPx"
          :min="0"
          :max="1000"
          :step="10"
        />
      </template>
    </DemoLayout>
  </div>
</template>

<style lang="scss" scoped>
.ddv {
  --chartSurface: var(--plotSurface);
  --aspectRatio: v-bind(aspectRatio);
  --minHeight: v-bind(minimumHeightPxCss);
  --minWidth: v-bind(minimumHeightPxCss);
}
</style>
