<script lang="ts" setup>
import { ref, reactive, computed } from "vue";
import DemoLayout from "../../components/DemoLayout.vue";
import DevRange from "../../components/DevRange.vue";
import GaugeChart from "../../../lib/charts/GaugeChart.vue";

const value = ref(42);
const domain = reactive({ min: 0, max: 100 });
const perimeterRatio = ref(0.5);
const minHeight = ref(500);
const minHeightCss = computed(() => `${minHeight.value}px`);
</script>

<template>
  <DemoLayout>
    <template #default>
      <GaugeChart
        class="chart"
        :value="value"
        :domain="domain"
        :perimeter-ratio="perimeterRatio"
      />
    </template>
    <template #controls>
      <DevRange
        v-model="minHeight"
        label="minHeight px"
        :min="0"
        :max="2000"
        :step="50"
      />
      <DevRange v-model="perimeterRatio" label="perimeterRatio" :step="0.001" />
      <DevRange
        v-model="value"
        label="value"
        :min="domain.min"
        :max="domain.max"
        :step="0.01"
      />
    </template>
  </DemoLayout>
</template>

<style lang="scss" scoped>
.chart {
  --minHeight: v-bind(minHeightCss);
  --aspectRatio: 2;
}
</style>
