<script setup lang="ts">
import { reactive, ref, watch } from "vue";
import DemoLayout from "../../components/DemoLayout.vue";
import ControlLayout from "../../components/ControlLayout.vue";
import DDV from "../../../lib/components/DDV.vue";
import LinePlot from "../../../lib/components/LinePlot.vue";
import CartesianScaler from "../../../lib/components/CartesianScaler.vue";
import DevRange from "../../components/DevRange.vue";
import DevSwitch from "../../components/DevSwitch.vue";
import type { CurveType } from "../../../lib/curveInterpolators";
import type { DataSet } from "../../../lib/common";
import { fromRange } from "../../../lib/domain";
import { useAggregateDomains } from "../../../lib/composables/useAggregateDomains";
import { useChart } from "../../../lib/composables/useChart";

const wrapper = ref();
const { layout, mouseState, reserveSpace } = useChart(wrapper);

const state = reactive<{
  dataSeriesNumber: number;
  dataPoints: number;
  curveInterpolator: CurveType;
  isActive: boolean;
  stairStepTopRatio: number;
}>({
  dataSeriesNumber: 0,
  dataPoints: 10,
  curveInterpolator: "catmull-rom",
  isActive: true,
  stairStepTopRatio: 0.5
});

const randomPoints = (count: number) =>
  Array.from({ length: count }).map((_, i) => ({
    x: i,
    y: Math.random() * 20
  }));

const dataSets = ref<DataSet[]>([]);

const inactiveSets = ref([]);
const { aggregateX, aggregateY } = useAggregateDomains(
  dataSets,
  inactiveSets,
  true,
  false
);

const shuffle = () =>
  (dataSets.value = [{ points: randomPoints(state.dataPoints) }]);
shuffle();
watch(() => state.dataPoints, shuffle);
</script>

<template>
  <DemoLayout>
    <template #default>
      <DDV
        ref="wrapper"
        :layout="layout"
        :mouse-state="mouseState"
        :reserve-space="reserveSpace"
      >
        <CartesianScaler
          :x-source="aggregateX"
          :y-source="aggregateY"
          :x-target="fromRange(layout.plotWidth)"
          :y-target="fromRange(layout.plotHeight)"
        >
          <template #default="{ pointScaler }">
            <LinePlot
              :screen-points="dataSets[0].points.map(pointScaler.scale)"
              :curve-interpolator="state.curveInterpolator"
              :is-active="state.isActive"
              :data-series-number="state.dataSeriesNumber"
              :stair-step-top-ratio="state.stairStepTopRatio"
            />
          </template>
        </CartesianScaler>
      </DDV>
    </template>
    <template #controls>
      <DevSwitch v-model="state.isActive" label="isActive" />
      <DevRange
        v-model.number="state.dataSeriesNumber"
        label="dataSeriesNumber"
        :min="0"
        :max="10"
        :step="1"
      />
      <DevRange
        v-model.number="state.dataPoints"
        label="data points"
        :min="4"
        :max="100"
        :step="1"
      />
      <ControlLayout>
        <template #label>Shuffle</template>
        <template #input>
          <button @click="shuffle">Shuffle points</button>
        </template>
      </ControlLayout>
      <ControlLayout>
        <template #label>curveInterpolator</template>
        <template #value>{{ state.curveInterpolator }}</template>
        <template #input>
          <select v-model.trim="state.curveInterpolator">
            <option value="straight">straight</option>
            <option value="catmull-rom">catmull-rom</option>
            <option value="stair-step">stair-step</option>
          </select>
          <DevRange
            v-if="state.curveInterpolator === 'stair-step'"
            v-model.number="state.stairStepTopRatio"
            :min="0"
            :max="1.0"
            :step="0.05"
          />
        </template>
      </ControlLayout>
    </template>
  </DemoLayout>
</template>
