<script lang="ts" setup>
import { computed, ref } from "vue";
import DemoLayout from "../../components/DemoLayout.vue";
import DevRange from "../../components/DevRange.vue";
import PolarChart from "../../../lib/charts/PolarChart.vue";
import { eachDayOfInterval } from "date-fns";
import { faker } from "@faker-js/faker";
import DevSwitch from "../../components/DevSwitch.vue";
const sine = Array.from({ length: 200 }).map((_, i) => ({
  x: i / 10,
  y: Math.sin(i / 10)
}));
const cosine = Array.from({ length: 200 }).map((_, i) => ({
  x: i / 10,
  y: Math.cos(i / 10)
}));
const wiggle = Array.from({ length: 2000 })
  .map((_, i) => i / 100)
  .map(i => ({
    x: i,
    y: (i * Math.cos(i)) / 8
  }));

const perimeterRatio = ref(0.5);
const minHeight = ref(400);
const minHeightCss = computed(() => `${minHeight.value}px`);

const dataSets = ref([
  { title: "sin(x)", points: sine },
  { title: "cos(x)", points: cosine },
  { title: "x * cos(x) / 8", points: wiggle }
]);

const dateDataSets = ref([
  {
    title: "Dates",
    points: eachDayOfInterval({
      start: new Date(Date.UTC(2024, 0, 1)),
      end: new Date(Date.UTC(2024, 2, 1))
    }).map(d => ({
      x: d,
      y: faker.datatype.number({ min: -8, max: 89 })
    }))
  }
]);
const useDates = ref(false);
</script>

<template>
  <DemoLayout>
    <template #default>
      <PolarChart
        class="chart"
        :data-sets="useDates ? dateDataSets : dataSets"
        :perimeter-ratio="perimeterRatio"
      />
    </template>
    <template #controls>
      <DevSwitch v-model="useDates" label="useDates" />
      <DevRange
        v-model="minHeight"
        label="minHeight px"
        :min="0"
        :max="2000"
        :step="50"
      />
      <DevRange v-model="perimeterRatio" label="perimeterRatio" :step="0.001" />
    </template>
  </DemoLayout>
</template>

<style lang="scss" scoped>
.chart {
  :deep(svg.outer) {
    fill: orange;
    aspect-ratio: 2;
    min-height: v-bind(minHeightCss);
  }
}
</style>
