<script lang="ts" setup>
import DemoLayout from "../../components/DemoLayout.vue";
import { ref, reactive, computed } from "vue";
import DevSwitch from "../../components/DevSwitch.vue";
import DevRange from "../../components/DevRange.vue";
import PolarInterpolator from "../../../lib/components/PolarInterpolator.vue";
import DDV from "../../../lib/components/DDV.vue";
import PolarAxis from "../../../lib/components/PolarAxis.vue";
import DevString from "../../components/DevString.vue";
import { useChart } from "../../../lib/composables/useChart";

const wrapper = ref();
const { layout, mouseState, reserveSpace } = useChart(wrapper);

const minHeight = ref(400);
const minHeightCss = computed(() => `${minHeight.value}px`);

const piProps = reactive({
  angleDomain: { min: 0, max: 100 },
  magnitudeDomain: { min: 0, max: 100 },
  startDistanceRatio: 0,
  endDistanceRatio: 0.95,
  perimeterRatio: 0.65
});

const paProps = reactive({
  angleDomain: piProps.angleDomain,
  magnitudeDomain: piProps.magnitudeDomain,
  angleTickFrequency: "0",
  magnitudeTickFrequency: "0",
  drawAngleLabels: true,
  drawMagnitudeLabels: true,
  drawAngleGridLines: true,
  drawMagnitudeGridLines: true,
  tickLengthPx: 10,
  labelMarginPx: 10
});

const aspectRatio = computed(() =>
  piProps.perimeterRatio || 1 <= 0.5 ? 2 : 1
);
</script>

<template>
  <div>
    <DemoLayout>
      <template #default>
        <DDV
          ref="wrapper"
          class="demo"
          :layout="layout"
          :mouse-state="mouseState"
          :reserve-space="reserveSpace"
          debug-teleport-selector="#ddv-debug"
        >
          <PolarInterpolator :layout="layout" v-bind.camel="piProps">
            <template #default="piOut">
              <PolarAxis
                v-if="layout?.plotWidth > 0"
                :reserve-space="reserveSpace"
                :layout="layout"
                :x="layout.margins.left"
                :y="layout.margins.top"
                v-bind.camel="{
                  ...paProps,
                  polarSystem: piOut
                }"
              />
            </template>
          </PolarInterpolator>
        </DDV>
      </template>
      <template #controls>
        <DevRange
          v-model="minHeight"
          label="minHeight px"
          :min="0"
          :max="2000"
          :step="50"
        />
        <DevRange
          v-model="piProps.perimeterRatio"
          label="perimeterRatio"
          :step="0.001"
        />
        <DevRange
          v-model="piProps.startDistanceRatio"
          label="startDistanceRatio"
          :step="0.001"
        />
        <DevRange
          v-model="piProps.endDistanceRatio"
          label="endDistanceRatio"
          :step="0.001"
        />
        <DevRange
          v-model="piProps.angleDomain.max"
          label="angleDomain.max"
          :min="0"
          :max="100_000"
          :step="79"
        />
        <DevRange
          v-model="piProps.magnitudeDomain.max"
          label="magnitudeDomain.max"
          :min="0"
          :max="100_000"
          :step="79"
        />
        <DevString
          v-model="paProps.angleTickFrequency"
          label="angleTickFrequency"
        />
        <DevString
          v-model="paProps.magnitudeTickFrequency"
          label="magintudeTickFrequency"
        />

        <DevSwitch v-model="paProps.drawAngleLabels" label="drawAngleLabels" />
        <DevSwitch
          v-model="paProps.drawMagnitudeLabels"
          label="drawMagnitudeLabels"
        />
        <DevSwitch
          v-model="paProps.drawAngleGridLines"
          label="drawAngleGridLines"
        />
        <DevSwitch
          v-model="paProps.drawMagnitudeGridLines"
          label="drawMagnitudeGridLines"
        />
        <!-- <DevRange label="plotMarginPx" v-model="piProps.plotMarginPx" :min="-50" :max="50" :step="1" /> -->
        <DevRange
          v-model="paProps.tickLengthPx"
          label="tickLengthPx"
          :min="-50"
          :max="50"
          :step="1"
        />
        <DevRange
          v-model="paProps.labelMarginPx"
          label="labelMarginPx"
          :min="-50"
          :max="50"
          :step="1"
        />
      </template>
    </DemoLayout>
    <div id="ddv-debug" />
  </div>
</template>

<style lang="scss" scoped>
.ddv {
  margin: 0 auto;
  :deep(svg.outer) {
    aspect-ratio: v-bind(aspectRatio);
    min-height: v-bind(minHeightCss);
  }
}
</style>
