<script lang="ts" setup>
import { computed, reactive } from "vue";
import DemoLayout from "../../components/DemoLayout.vue";
import DevRange from "../../components/DevRange.vue";
import DevSwitch from "../../components/DevSwitch.vue";
import DevString from "../../components/DevString.vue";
import ScatterChart from "../../../lib/charts/ScatterChart.vue";

const sine = Array.from({ length: 100 }).map((_, i) => ({
  x: i / 10,
  y: Math.sin(i / 10)
}));
const cosine = Array.from({ length: 100 }).map((_, i) => ({
  x: i / 10,
  y: Math.cos(i / 10)
}));
const wiggle = Array.from({ length: 100 })
  .map((_, i) => i / 10)
  .map(i => ({
    x: i,
    y: (i * Math.cos(i)) / 8
  }));

const state = reactive({
  title: "ScatterChart Title",
  aspectRatio: 4,
  enableMouseTracking: true,
  minimumHeightPx: 300,
  drawXAxis: true,
  drawYAxis: true,
  drawCurve: true,
  drawPoints: false,
  drawLegend: true,
  enablePan: false,
  enableZoom: false,
  absoluteScale: true,
  mouseTrackingIgnoreX: false,
  mouseTrackingIgnoreY: false,
  tickFrequencyX: "0",
  tickFrequencyY: "0",
  subTicksX: 0,
  subTicksY: 0,
  showOptionsOnHover: false,
  dataSets: [
    {
      title: "sin(x)",
      points: sine,
      yDomain: { min: -3, max: 3 },
      xAxisLabel: "Month of Year",
      yAxisLabel: "Apples Harvested"
    },
    {
      title: "cos(x)",
      points: cosine,
      xAxisLabel: "Month of Year",
      yAxisLabel: "Peaches Harvested"
    },
    {
      title: "x * cos(x) / 8",
      points: wiggle,
      xAxisLabel: "Month of Year",
      yAxisLabel: "Pumpkins Harvested"
    }
  ]
});

const aspectRatioCSS = computed(() => `${state.aspectRatio}`);
const minimumHeightCSS = computed(() => `${state.minimumHeightPx}px`);

// const randomPoints = count => Array.from({length: count}).map((_, i) => ({
//   x: i,
//   y: Math.random() * 10 - 5
// }));

// const randomSeries = () => {
//   let factor = Math.random();
//   return {
//     title: `series ${Math.random().toFixed(3)}`,
//     points: randomPoints(20)
//   };
// };

// const addSeries = e => {
//   if (dataSets.value.length < 10) dataSets.value.push(randomSeries())
// }

// const addPoints = e => {
//   dataSets.value = ("new DS", dataSets.value.map(ds => {
//     if (!ds || !ds.points || ds.points.length < 1) return ds;
//     console.log("ds points", ds.points.length);
//     return {
//       ...ds,
//       points: [
//         ...ds.points,
//         ...randomPoints(10).map(p => ({
//           x: p.x/10 + ds.points.length / 10,
//           y: p.y
//         }))
//       ]
//     }
//   }));
// }

// const removeSeries = e => {
//   if (dataSets.value.length > 0) dataSets.value.pop()
// }
</script>

<template>
  <DemoLayout>
    <template #default>
      <!-- <pre>{{ state }}</pre> -->
      <ScatterChart class="sc" v-bind.camel="state" show-options-on-hover />
    </template>

    <template #controls>
      <DevSwitch v-model="state.drawXAxis" label="drawXAxis" />
      <DevSwitch v-model="state.drawYAxis" label="drawYAxis" />
      <DevString v-model="state.tickFrequencyX" label="tickFrequencyX" />
      <DevString v-model="state.tickFrequencyY" label="tickFrequencyY" />
      <DevRange
        v-model="state.subTicksX"
        label="subTicksX"
        :min="0"
        :max="15"
        :step="1"
      />
      <DevRange
        v-model="state.subTicksY"
        label="subTicksY"
        :min="0"
        :max="15"
        :step="1"
      />
      <DevSwitch v-model="state.drawLegend" label="drawLegend" />
      <DevSwitch v-model="state.drawCurve" label="drawCurve" />
      <DevSwitch v-model="state.drawPoints" label="drawPoints" />
      <DevSwitch v-model="state.absoluteScale" label="absoluteScale" />
      <DevSwitch
        v-model="state.mouseTrackingIgnoreX"
        label="mouseTrackingIgnoreX"
      />
      <DevSwitch
        v-model="state.mouseTrackingIgnoreY"
        label="mouseTrackingIgnoreY"
      />
      <DevSwitch v-model="state.enablePan" label="enablePan" />
      <DevSwitch v-model="state.enableZoom" label="enableZoom" />
      <DevRange
        v-model.lazy.number="state.aspectRatio"
        label="Aspect Ratio (w/h)"
        :min="0.25"
        :max="10"
        :step="0.25"
      />
      <DevRange
        v-model.number="state.minimumHeightPx"
        label="minimumHeightPx"
        :min="0"
        :max="1000"
        :step="10"
      />
    </template>
  </DemoLayout>
</template>

<style lang="scss" scoped>
.sc {
  :deep(svg.outer) {
    aspect-ratio: v-bind(aspectRatioCSS);
    min-height: v-bind(minimumHeightCSS);
  }
}
</style>
