<script lang="ts" setup>
import { reactive } from "vue";
import DemoLayout from "../../components/DemoLayout.vue";
import DevRange from "../../components/DevRange.vue";
import ScatterChart from "../../../lib/charts/ScatterChart.vue";

const randomPoints = (count: number) =>
  Array.from({ length: count }).map((_, i) => ({
    x: i,
    y: Math.random() * 20
  }));

const dataSets = reactive([
  {
    points: randomPoints(20),
    thresholds: {
      x: [
        {
          value: 4,
          color: "orchid",
          label: "Legal Limit"
        }
      ],
      y: [
        {
          value: 14,
          color: "yellowgreen",
          label: "MidPoint"
        }
      ]
    }
  }
]);
</script>

<template>
  <DemoLayout>
    <template #default>
      <ScatterChart
        title="Threshold Demo"
        :minimum-height-px="160"
        draw-x-axis
        draw-y-axis
        draw-legend
        :draw-curve="false"
        :draw-points="true"
        enable-mouse-tracking
        :data-sets="dataSets"
      />
    </template>
    <template #controls>
      <DevRange
        v-model.number="dataSets[0].thresholds.x[0].value"
        label="x threshold value"
        :min="0"
        :max="20"
        :step="0.1"
      />
      <DevRange
        v-model.number="dataSets[0].thresholds.y[0].value"
        label="y threshold value"
        :min="0"
        :max="20"
        :step="0.1"
      />
    </template>
  </DemoLayout>
</template>
