<script lang="ts" setup>
import { ref, computed } from "vue";
import ControlLayout from "../../components/ControlLayout.vue";
import DemoLayout from "../../components/DemoLayout.vue";
import DevRange from "../../components/DevRange.vue";
import DevSwitch from "../../components/DevSwitch.vue";
import DDV from "../../../lib/components/DDV.vue";
import CartesianScaler from "../../../lib/components/CartesianScaler.vue";
import Axis from "../../../lib/components/Axis.vue";
import ThresholdArea from "../../../lib/components/ThresholdArea.vue";
import LinePlot from "../../../lib/components/LinePlot.vue";
import type { NumericDomain } from "../../../lib/domain";
import { getExtents, fromRange } from "../../../lib/domain";
import { useChart } from "../../../lib/composables/useChart";

const wrapper = ref();
const { layout, mouseState, reserveSpace } = useChart(wrapper);

const range = ref(20); // both how many points to make and their amplitude

const randomPoints = (count: number) =>
  Array.from({ length: count }).map((_, i) => ({
    x: i,
    y: Math.random() * range.value
  }));

const points = computed(() => randomPoints(range.value));
const xDomain = computed(() => getExtents(points.value.map(p => p.x)));
const yDomain = computed(() => getExtents(points.value.map(p => p.y)));

const isX = ref(true);
// const patternRotation = ref(0);
// const patternThickness = ref(1);
const threshold = ref<{
  value: NumericDomain;
  label: string;
  color: string;
  patternRotation: number;
  patternThickness: number;
}>({
  value: { min: range.value / 4, max: (range.value / 4) * 3 },
  label: "Example Label",
  color: "#ff00ff",
  patternRotation: 0,
  patternThickness: 1
});
</script>

<template>
  <DemoLayout>
    <template #default>
      <DDV
        ref="wrapper"
        :layout="layout"
        :mouse-state="mouseState"
        :reserve-space="reserveSpace"
      >
        <template #default>
          <CartesianScaler
            v-if="layout.plotWidth && layout.plotHeight"
            :layout="layout"
            :x-source="xDomain"
            :x-target="fromRange(layout.plotWidth)"
            :y-source="yDomain"
            :y-target="fromRange(layout.plotHeight)"
            :reverse-y-axis="false"
          >
            <template #default="{ xScaler, yScaler, pointScaler }">
              <g
                :transform="`translate(${layout.margins.left} ${layout.margins.top})`"
              >
                <rect
                  class="bg"
                  :width="layout.plotWidth"
                  :height="layout.plotHeight"
                  fill="var(--plotSurface)"
                />
                <Axis
                  v-if="xScaler"
                  :domain="xDomain"
                  :scaler="xScaler"
                  :layout="layout"
                  :reserve-space="reserveSpace"
                />
                <Axis
                  v-if="yScaler"
                  :domain="yDomain"
                  :scaler="yScaler"
                  :layout="layout"
                  :reserve-space="reserveSpace"
                  is-vertical
                />
                <ThresholdArea
                  :is-x="isX"
                  :layout="layout"
                  :scaler="isX ? xScaler : yScaler"
                  :domain="isX ? xDomain : yDomain"
                  :label="threshold.label"
                  :min="threshold.value.min"
                  :max="threshold.value.max"
                  :color="threshold.color"
                  :pattern-rotation="threshold.patternRotation"
                  :pattern-thickness="threshold.patternThickness"
                />
                <LinePlot
                  :data-series-number="0"
                  :screen-points="points.map(pointScaler.scale)"
                  curve-interpolator="stair-step"
                />
              </g>
            </template>
          </CartesianScaler>
        </template>
      </DDV>
    </template>

    <template #controls>
      <DevSwitch v-model="isX" label="is X" />
      <DevRange
        v-model.number="range"
        label="point count and size"
        :min="1"
        :max="1000"
        :step="1"
      />
      <DevRange
        v-model.number="threshold.value.min"
        label="min"
        :min="0"
        :max="threshold.value.max"
        :step="0.1"
      />
      <DevRange
        v-model.number="threshold.value.max"
        label="max"
        :min="threshold.value.min"
        :max="range"
        :step="0.1"
      />
      <DevRange
        v-model.number="threshold.patternRotation"
        label="patternRotation"
        :min="0"
        :max="360"
        :step="0.1"
      />
      <DevRange
        v-model.number="threshold.patternThickness"
        label="patternThickness"
        :min="0"
        :max="5"
        :step="0.1"
      />
      <ControlLayout>
        <template #label>color</template>
        <template #value>{{ threshold.color }}</template>
        <template #input>
          <input
            v-model="threshold.color"
            type="color"
            @update="threshold.color = $event"
            @chage="threshold.color = $event"
          />
        </template>
      </ControlLayout>
    </template>
  </DemoLayout>
</template>
