<template>
  <div class="control">
    <div class="label">
      <slot name="label" />
      =
      <span class="value"><slot name="value" /></span>
    </div>
    <div class="input"><slot name="input" /></div>
  </div>
</template>

<style lang="scss" scoped>
.control {
  flex: 1 1 min-content;
  min-width: 200px;
  min-height: 90px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: start;
  padding: 0.2em 0.5em;
  gap: 0.25em;
  background: var(--surface-200);
  border-radius: 0.5em;

  .label {
    font-size: 14px;
    font-weight: 500;

    .value {
      font-size: 1em;
      font-weight: 300;
      font-family: "Operator Mono";
      text-decoration: dotted underline;
      text-underline-offset: 2px;
      text-decoration-color: var(--linkColor);
      text-align: right;
      color: var(--white-c);
    }
  }
  .input {
    :slotted(input, select) {
      accent-color: var(--c-brand, var(--linkColor));
    }
  }

  &:focus-within {
    filter: saturate(1.5) brightness(1);
  }
}

// @media (max-width: 960px) {
//   .control {
//     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
//     align-items: start;
//   }
// }
</style>
