<script lang="ts" setup>
import { ref } from "vue";
const showControls = ref(false);
</script>

<template>
  <div class="demo">
    <div class="chart-wrapper"><slot name="default" /></div>
    <div class="control-wrapper">
      <div class="show-hide">
        <em>Prop Controls</em>
        <button @click="showControls = !showControls">
          {{ showControls ? "HIDE" : "SHOW" }}
        </button>
      </div>
      <Transition>
        <div v-if="showControls" class="controls">
          <slot name="controls" />
        </div>
      </Transition>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.demo {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.25em;
  margin: 2em 0;

  .chart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }

  .control-wrapper {
    display: flex;
    gap: 1em;
    flex-direction: column;
    padding: 0.5em;
    border-radius: 0.25em;
    background: var(--vp-c-bg-alt);
    .show-hide {
      display: flex;
      gap: 0.5em;
    }
    button {
      padding: 0.125em 0.25em;
      transition: all 0.15s ease-in;
      background: var(--vp-c-indigo-3);
      color: var(--vp-c-text-1);
      &:hover {
        background: var(--vp-c-indigo-2);
      }
    }
  }

  .controls {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    gap: 0.5em;

    border: 1px solid var(--headerBorderColor);
    background: var(--surface-100);
    border-radius: 0.5em;
    padding: 1em;
    & a {
      margin-left: 0.5em;
    }
  }
}
</style>
