<script lang="ts" setup>
import ControlLayout from "./ControlLayout.vue";
import { format } from "date-fns";

export interface DevDateProps {
  label: string;
  modelValue: Date | undefined;
  min?: Date;
  max?: Date;
}

const props = defineProps<DevDateProps>();
const emit = defineEmits(["update:modelValue"]);
const myId = Math.floor(Math.random() * 100_000).toFixed(0);
const YMD = "yyy MMM dd";
</script>

<template>
  <ControlLayout>
    <template #label>{{ label }}</template>
    <template #value>
      {{ props.modelValue ? format(props.modelValue, YMD) : props.modelValue }}
    </template>
    <template #input>
      <input
        :id="myId"
        :model-value="props.modelValue"
        :min="props.min ? format(props.min, YMD) : undefined"
        :max="props.max ? format(props.max, YMD) : undefined"
        type="date"
        @input="e => emit('update:modelValue', new Date(e.target?.value))"
      />
    </template>
  </ControlLayout>
</template>
