<script lang="ts" setup>
import ControlLayout from "./ControlLayout.vue";

defineProps({
  /**
   * Aspect ratio representing width:height. Numbers greater than 1 mean wider, fractional numbers mean taller
   */
  label: {
    type: String,
    default: ""
  },
  modelValue: {
    type: Number,
    default: 0.5
  },
  min: {
    type: Number,
    default: 0
  },
  max: {
    type: Number,
    default: 1
  },
  step: {
    type: Number,
    default: 0.1
  }
});
const emit = defineEmits(["update:modelValue"]);
</script>

<template>
  <ControlLayout>
    <template #label>{{ label }}</template>
    <template #value>{{ modelValue.toFixed(2) }}</template>
    <template #input>
      <input
        v-bind="$attrs"
        style="width: 100%"
        :value="modelValue"
        type="range"
        :min="min"
        :max="max"
        :step="step"
        @touch.prevent
        @input.prevent="
          emit(
            'update:modelValue',
            parseFloat(($event?.target as HTMLInputElement).value)
          )
        "
      />
    </template>
  </ControlLayout>
</template>
