<script lang="ts" setup>
import ControlLayout from "./ControlLayout.vue";

import { computed } from "vue";

const props = defineProps({
  label: {
    type: String,
    default: ""
  },
  modelValue: {
    type: Boolean,
    default: false
  }
});
const emit = defineEmits(["update:modelValue"]);

const myId = Math.floor(Math.random() * 100_000).toFixed(0);

const checked = computed<boolean>({
  get() {
    return props.modelValue;
  },
  set(v) {
    emit("update:modelValue", v);
  }
});
</script>

<template>
  <ControlLayout @click="checked = !checked">
    <template #label>{{ label }}</template>
    <template #value>{{ checked }}</template>
    <template #input>
      <input :id="myId" v-model="checked" type="checkbox" />
    </template>
  </ControlLayout>
</template>

<style lang="scss" scoped>
input[type="checkbox"] {
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 100%;
  height: 1.15em;
  border: thin solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  background-color: var(--checkBoxBg);
  height: 1.5em;
  transition: all 0.2s ease-in-out;
  &::before {
    content: "";
    width: 2em;
    height: 1em;
    // transform: scale(0);
    transition: all 0.2s ease-in-out;
    box-shadow: inset 1em 1em var(--linkColorMuted);
    transform-origin: bottom left;
    clip-path: polygon(10% 45%, 90% 45%, 90% 55%, 10% 55%);
  }
  &:checked {
    // background-color: var(--linkColor);
    &::before {
      width: 1em;
      box-shadow: inset 1em 1em var(--linkColor);
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }
  }
}
</style>
