<script lang="ts" setup>
import ControlLayout from "./ControlLayout.vue";

import { computed } from "vue";

const props = defineProps<{
  label: string;
  modelValue: string | undefined;
  placeholder?: string;
}>();
const emit = defineEmits(["update:modelValue"]);

const myId = Math.floor(Math.random() * 100_000).toFixed(0);

const val = computed<string | undefined>({
  get() {
    return props.modelValue;
  },
  set(v) {
    emit("update:modelValue", v);
  }
});
</script>

<template>
  <ControlLayout>
    <template #label>{{ label }}</template>
    <template #value>{{ val }}</template>
    <template #input>
      <input :id="myId" v-model="val" type="text" :placeholder="placeholder" />
    </template>
  </ControlLayout>
</template>

<style lang="scss" scoped>
input[type="text"] {
  width: 100%;
  padding: 0.25em 0.5em;
  border: thin solid var(--headerBorderColor);
  &:active,
  &:focus {
    border: thin solid var(--linkColor);
  }
}
</style>
