<script lang="ts">
import { defineComponent, ref } from "vue";
import { samples } from "../datasets";
import DevRange from "./DevRange.vue";
import DevSwitch from "./DevSwitch.vue";

export default defineComponent({
  components: {
    DevRange,
    DevSwitch
  },
  props: {
    modelValue: {
      type: Object,
      default: () => ({})
    }
  },
  setup(props) {
    const model = ref(props.modelValue);
    return {
      model,
      samples
    };
  }
});
</script>

<template>
  <div class="controls">
    <div class="option">
      <label for="title">Chart Title</label>
      <input
        id="title"
        v-model="model.title"
        placeholder="Chart title (leave empty to hide)"
      />
    </div>

    <div class="option">
      <DevRange
        v-model.number="model.aspectRatio"
        label="Aspect Ratio (w/h)"
        :min="0.2"
        :max="20"
        :step="0.1"
      />
    </div>

    <div class="option">
      <DevRange
        v-model.number="model.minimumHeightPx"
        label="Min Height (px)"
        :min="0"
        :max="2000"
        :step="1"
      />
    </div>

    <div class="option">
      <DevSwitch v-model="model.absoluteScale" label="Absolute Scale" />
    </div>

    <div class="option">
      <DevSwitch
        v-model="model.enableMouseTracking"
        label="Enable Mouse Tracking"
      />
    </div>

    <div class="option">
      <DevSwitch v-model="model.drawXAxis" label="Draw X Axis" />
    </div>

    <div class="option">
      <DevSwitch v-model="model.drawYAxis" label="Draw Y Axis" />
    </div>

    <div class="option">
      <DevSwitch v-model="model.drawLegend" label="Draw Legend" />
    </div>

    <div class="option">
      <DevSwitch v-model="model.drawCurve" label="Draw Curve" />
    </div>

    <div class="option">
      <DevSwitch v-model="model.drawPoints" label="Draw Points" />
    </div>

    <div class="option">
      <DevSwitch v-model="model.mouseTrackingIgnoreX" label="Ignore X" />
    </div>

    <div class="option">
      <DevSwitch v-model="model.mouseTrackingIgnoreY" label="Ignore Y" />
    </div>

    <div class="option">
      <DevSwitch v-model="model.enablePan" label="Enable Pan" />
    </div>

    <div class="option">
      <DevSwitch v-model="model.enableZoom" label="Enable Zoom" />
    </div>

    <div class="option">
      <label for="dataset">Dataset</label>
      <select id="dataset" v-model="model.selectedSet">
        <option disabled>Choose a Set</option>
        <option v-for="(s, i) in samples" :key="s.label" :value="i">
          {{ s.label }}
        </option>
      </select>
    </div>

    <!-- <select v-model="selectedCurveType">
      <option disabled>Override Curve Types</option>
      <option value="catmull-rom">Catmull-Rom</option>
      <option value="straight">Straight</option>
    </select>-->
  </div>
</template>

<style lang="scss" scoped>
.controls {
  padding: 0.5em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 2em 0;
  gap: 0.5em;
  .option {
    padding: 0.5em;
  }
}
</style>
