<script lang="ts" setup>
import { ref } from "vue";

import ScatterChartDemo from "./demos/ScatterChartDemo.vue";
import GaugeChartDemo from "./demos/GaugeChartDemo.vue";
import PolarChartDemo from "./demos/PolarChartDemo.vue";

import AxisDemo from "./demos/AxisDemo.vue";
import CrosshairsDemo from "./demos/CrosshairsDemo.vue";
import DDVDemo from "./demos/DDVDemo.vue";
import LinePlotDemo from "./demos/LinePlotDemo.vue";
import PolarAxisDemo from "./demos/PolarAxisDemo.vue";

import ThresholdAreaDemo from "./demos/ThresholdAreaDemo.vue";
import ThresholdLineDemo from "./demos/ThresholdLineDemo.vue";
import BarChartDemo from "./demos/BarChartDemo.vue";
import BasicChartDemo from "./demos/BasicChartDemo.vue";

const demos = [
  { name: "ScatterChart", component: ScatterChartDemo },
  { name: "GaugeChart", component: GaugeChartDemo },
  { name: "PolarChart", component: PolarChartDemo },
  { name: "AxisDemo", component: AxisDemo },
  { name: "CrosshairsDemo", component: CrosshairsDemo },
  { name: "DDVDemo", component: DDVDemo },
  { name: "LinePlotDemo", component: LinePlotDemo },
  { name: "PolarAxisDemo", component: PolarAxisDemo },
  { name: "ThresholdAreaDemo", component: ThresholdAreaDemo },
  { name: "ThresholdLineDemo", component: ThresholdLineDemo },
  { name: "BarChart", component: BarChartDemo },
  { name: "BasicChart", component: BasicChartDemo }
];
const activeDemo = ref(11);
</script>

<template>
  <div class="switcher">
    <nav>
      <a
        v-for="(d, i) in demos"
        :key="i"
        :class="{ active: activeDemo === i }"
        @click="activeDemo = i"
      >
        {{ d.name }}
      </a>
    </nav>
    <Component :is="demos[activeDemo].component" v-if="demos[activeDemo]" />
  </div>
</template>

<style lang="scss" scoped>
.switcher {
  nav {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: space-between;
    align-items: center;
    a {
      display: block;
      background: var(--surface-100);
      color: var(--c-white);
      padding: 0.25em 0.5em;
      &.active {
        background: var(--linkColor);
      }
    }
  }
}
</style>
