<script setup lang="ts">
import ScatterChart from "../../lib/charts/ScatterChart.vue";
const sine = Array.from({ length: 1000 }).map((_, i) => ({
  x: i / 50,
  y: Math.sin(i / 50)
}));
const cosine = Array.from({ length: 1000 }).map((_, i) => ({
  x: i / 50,
  y: Math.cos(i / 50)
}));
</script>

<template>
  <article>
    <p>This is the homepage for the dev server</p>
    <div class="demo">
      <p>
        This is a simple chart
        <code>
          <pre>code goes here</pre>
        </code>
      </p>
      <ScatterChart
        :data-sets="[{ points: sine }, { points: cosine }]"
        draw-legend
        draw-points
        draw-curve
        draw-x-axis
        draw-y-axis
        enable-mouse-tracking
        draw-tool-tips
      />
    </div>
  </article>
</template>
