<script setup lang="ts">
import { computed, reactive } from "vue";
import { samples } from "../datasets";
import DevRange from "../components/DevRange.vue";
import DevString from "../components/DevString.vue";
import DevSwitch from "../components/DevSwitch.vue";
import ScatterChart from "../../lib/charts/ScatterChart.vue";

const model = reactive({
  title: undefined,
  enableMouseTracking: true,
  selectedSet: 0,
  selectedCurveType: null,
  drawXAxis: true,
  drawYAxis: true,
  drawLegend: true,
  drawCurve: true,
  drawPoints: false,
  enablePan: true,
  enableZoom: true,
  aspectRatio: 2,
  minimumHeightPx: 400,
  absoluteScale: true,
  mouseTrackingIgnoreX: false,
  mouseTrackingIgnoreY: false
});

// const selectedCurveType = ref<CurveType>();
// const processedDataSets = computed(
//   () => samples.map(
//     s => {
//       s.dataSets.map(
//         (ds: DataSet) => {
//           if (selectedCurveType) {
//             ds.curveType = selectedCurveType.value;
//           }
//           return ds;
//         }
//       );
//       return s;
//     }
//   )
// );
const aspectRatio = computed(() => model.aspectRatio);
const minHeightCss = computed(() => `${model.minimumHeightPx}px`);
</script>

<template>
  <article>
    <div class="controls">
      <DevString
        v-model="model.title"
        placeholder="Chart title (leave empty to hide)"
        label="Chart Title"
      />
      <DevRange
        v-model.number="model.aspectRatio"
        label="Aspect Ratio (w/h)"
        :min="0.2"
        :max="20"
        :step="0.1"
      />
      <DevRange
        v-model.number="model.minimumHeightPx"
        label="Min Height (px)"
        :min="0"
        :max="2000"
        :step="1"
      />
      <DevSwitch v-model="model.absoluteScale" label="Absolute Scale" />
      <DevSwitch
        v-model="model.enableMouseTracking"
        label="Enable Mouse Tracking"
      />
      <DevSwitch v-model="model.drawXAxis" label="Draw X Axis" />
      <DevSwitch v-model="model.drawYAxis" label="Draw Y Axis" />
      <DevSwitch v-model="model.drawLegend" label="Draw Legend" />
      <DevSwitch v-model="model.drawCurve" label="Draw Curve" />
      <DevSwitch v-model="model.drawPoints" label="Draw Points" />
      <DevSwitch v-model="model.mouseTrackingIgnoreX" label="Ignore X" />
      <DevSwitch v-model="model.mouseTrackingIgnoreY" label="Ignore Y" />
      <DevSwitch v-model="model.enablePan" label="Enable Pan" />
      <DevSwitch v-model="model.enableZoom" label="Enable Zoom" />

      <div>
        <label for="dataset">Dataset</label>
        <select id="dataset" v-model="model.selectedSet">
          <option disabled>Choose a Set</option>
          <option v-for="(s, i) in samples" :key="s.label" :value="i">
            {{ s.label }}
          </option>
        </select>
      </div>
    </div>
    <section>
      <ScatterChart
        class="chart"
        :title="model.title"
        :enable-mouse-tracking="model.enableMouseTracking"
        :data-sets="samples[model.selectedSet].dataSets"
        :draw-x-axis="model.drawXAxis"
        :draw-y-axis="model.drawYAxis"
        :draw-legend="model.drawLegend"
        :draw-curve="model.drawCurve"
        :draw-points="model.drawPoints"
        :absolute-scale="model.absoluteScale"
        :mouse-tracking-ignore-x="model.mouseTrackingIgnoreX"
        :mouse-tracking-ignore-y="model.mouseTrackingIgnoreY"
        :enable-pan="model.enablePan"
        :enable-zoom="model.enableZoom"
      />
      <div id="ddv-debug"></div>
    </section>
  </article>
</template>

<style lang="scss" scoped>
.controls {
  display: grid;
  gap: 0.25em;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
.chart {
  :deep(svg.outer) {
    aspect-ratio: v-bind(aspectRatio);
    min-height: v-bind(minHeightCss);
  }
}
</style>
