<script lang="ts">
import { defineComponent } from "vue";
import DefaultTheme from 'vitepress/theme'
const { Layout } = DefaultTheme
import "./docs.scss";

export default defineComponent({
  components: {Layout},
  //setup() {}
})
</script>

<template>
  <Layout>
    <template #home-features-after>
      <HomeChart />  
    </template>
  </Layout>
</template>
