:root {
  --vp-c-brand-1: var(--vp-c-green-1);
  --vp-c-brand-2: var(--vp-c-green-2);
  --vp-c-brand-3: var(--vp-c-green-3);

  --linkColor: var(--vp-c-brand, orchid);
  --linkColorMuted: var(--vp-c-brand-darker);
  --headerBorderColor: var(--vp-c-border, orchid);
  --surface-100: var(--vp-c-bg-soft);
  --surface-200: var(--vp-c-bg-soft-down);
  --checkBoxBg: rgba(0, 0, 0, 0.05);;
}
html.dark {
  --checkBoxBg: rgba(255, 255, 255, 0.05);
}

.vp-doc table {
  display: table;
  width: 100%;

  .required {
    background: var(--vp-c-warning-soft);
    color: var(--vp-c-warning-2);
    padding: 0.5em
  }
  
  tr {
    vertical-align: top;
    th {
      background: var(--vp-c-bg);
    }
    td {
      vertical-align: top;
      p {
        margin: 0;
      }
    }
  }
}
