:root {
  --green-50: hsla(122, 33%, 97%, 1);
  --green-100: hsla(122, 33%, 94%, 1);
  --green-200: hsla(151, 28%, 63%, 1);
  --green-300: hsla(190, 24%, 44%, 1);
  --green-400: hsla(186, 26%, 31%, 1);
  --green-500: hsla(206, 24%, 28%, 1);

  --fontFamily: Garamond, "Operator Mono",
  --surface-0: var(--green-50);
  --surface-50: var(--green-100);
  --surface-100: #fcfdfe;
  --textColor: #252627;
  --linkColor: #FF9900;
  --headerBorderColor: var(--textColor);
}
/*  light mode */
html.light {

}

html.dark {
  --surface-0: #0d1117;
  --surface-50: #1e2735;
  --surface-100: #2c3749;
  --textColor: #c6cbd1;
}