.ddv, .ddv-debug, .ddv-tooltip {
  /* main appearance */
  --chartSurface: transparent;
  --plotSurface: #f2f3f3;
  --mainFontFamily: "Operator Mono", "Noto Mono", monospace;
  
  --warningColor: rgb(230, 95, 17);
  
  /* Plots are numbered in the order of the dataSets array, if you need more, just add them */
  --plotColor0: hsla(203, 81%, 37%, 1);
  --plotColor1: hsla(337, 90%, 37%, 1);
  --plotColor2: hsla(179, 52%, 30%, 1);
  --plotColor3: hsla(29, 97%, 55%, 1);
  --plotColor4: hsla(179, 24%, 63%, 1);
  --plotColor5: hsla(42, 92%, 62%, 1);
  --plotColor6: hsla(197, 79%, 48%, 1);
  --plotColor7: hsla(355, 63%, 49%, 1);
  --plotColor8: hsla(157, 57%, 58%, 1);
  --plotColor9: hsla(184, 56%, 53%, 1);
  --activePlotColor: var(--plotColor0);

  /* axis styles */
  --axisTickFontColor: #6b7280;
  --axisTickFontFamily: var(--mainFontFamily);
  --axisTickFontSize: 16px;
  --axisTickFontWeight: 700;
  --axisLabelFontFamily: var(--mainFontFamily);
  --axisLabelColor: #6b7280;
  --boundaryStroke: #6b7280;
  --boundaryStrokeWidth: 2;
  --tickStroke: #9a9bb0;
  --tickStrokeWidth: 1;
  --tickStrokeFirst: var(--tickStroke);
  --tickStrokeLast: var(--tickStroke);
  --subTickStroke: #a6a7bd;
  --subTickStrokeWidth: 1;
  --gridStroke: white;
  --gridStrokeWidth: 1;
  --gridOriginStroke: white;
  --gridStrokeDashArray: none;
  --subGridStroke:rgb(247, 248, 248);
  --subGridStrokeWidth: 1;
  --subGridStrokeDashArray: none;
    

  /* chart title */
  --titleFill: #1f2937;
  --titleFontFamily: var(--mainFontFamily);
  --titleFontSize: 18px;
  --titleFontWeight: 600;
  
  /* crosshairs */
  --crosshairStroke: rgb(55, 56, 56);
  --crosshairStrokeWidth: 0.5;

  /* nearest point (mouseover) */
  --nearestPointStrokeWidth: 1.5;

  /* legend */
  --legendDataSetsBackground: rgba(0,0,0,.1);
  --legendThresholdsBackground: rgba(60,0,0,.1);
  --legendFontFamily: var(--mainFontFamily);
  --legendFontSize: 13px;
  --legendFontWeight: 600;
  --legendFontColor: #223; 
  --legendBorderColor: #dedede;

  /* tooltip */
  --tooltipSurface: white;
  --tooltipWidth: 70%;
  --tooltipCoordinateFontFamily: var(--mainFontFamily);
  --tooltipLabelFontFamily: var(--mainFontFamily);
  --tooltipLabelSurface: white;
  --tooltipAppearDelay: 300ms;
  --tooltipBorder: thin solid var(--legendBorderColor);

  /* thresholds */
  --thresholdLineDefaultStroke: orange;
  --thresholdAreaDefaultSurface: rgba(189, 186, 185, 0.685);

  /* needle & gauge */
  --needleHingeFill: var(--axisLabelColor);
  --needleHingeStroke: black;
  --needleStrokeColor: hsl(33, 100%, 50%);
  --needleFillColor: hsl(33, 100%, 45%);
  --needleStrokeWidth: 1px;
  --needleTransition: 0.25s ease-in-out;
  --needleFilter: drop-shadow(2px 4px 4px rgba(20, 10, 0, 0.1));

  /* empty plot */
  --emptyPlotFontFamily: var(--mainFontFamily);

  /* fullscreen */
  --fullscreenBackground: white;
}

html[data-theme="dark"] .ddv,
html[data-theme="dark"] .ddv-debug,
html[data-theme="dark"] .ddv-tooltip,
html.dark .ddv,
html.dark .ddv-debug,
html.dark .ddv-tooltip {
  --chartSurface: transparent;
  --plotSurface: #202222;
  --mainFontFamily: "Operator Mono", "Noto Mono", monospace;
  
  --axisTickFontColor: #c5cad3;
  --axisLabelColor: #c5cad3;
  --boundaryStroke: #d6d8db;
  --tickStroke: #717174;
  --tickStrokeFirst: var(--tickStroke);
  --tickStrokeLast: var(--tickStroke);
  --gridStroke: rgb(0, 0, 0);
  --gridOriginStroke: white;
  --subGridStroke:rgb(15,15,15);
  --subTickStroke: #5e5e60;
  
  /* chart title */
  --titleFill: #f0f1f3;
  --titleFontFamily: var(--mainFontFamily);
  --titleFontSize: 18px;
  --titleFontWeight: 600;
  
  /* crosshairs */
  --crosshairStroke: rgb(199, 219, 219);
  --crosshairStrokeWidth: 0.5;

  /* nearest point (mouseover) */
  --nearestPointStrokeWidth: 1.5;

  /* legend */
  --legendDataSetsBackground: rgba(248,248,255,.1);
  --legendThresholdsBackground: rgba(248,248,255,.1);
  --legendFontFamily: var(--mainFontFamily);
  --legendFontSize: 13px;
  --legendFontWeight: 600;
  --legendFontColor: rgb(226, 226, 241); 
  --legendBorderColor: #5a5a56;

  /* tooltip */
  --tooltipSurface: rgb(18, 18, 19);
  --tooltipWidth: 80%;
  --tooltipCoordinateFontFamily: var(--mainFontFamily);
  --tooltipLabelFontFamily: var(--mainFontFamily);
  --tooltipLabelSurface: var(--tooltipSurface);
  --tooltipAppearDelay: 300ms;
  --tooltipBorder: 1px solid var(--legendBorderColor);

    /* thresholds */
    --thresholdLineDefaultStroke: orange;
    --thresholdAreaDefaultSurface: rgba(146, 137, 146, 50%);

  /* needle & gauge */

  --needleHingeFill: var(--axisLabelColor);
  --needleHingeStroke: black;
  --needleStrokeColor: hsl(76, 51%, 37%);
  --needleFillColor: hsl(76, 51%, 32%);
  --needleStrokeWidth: 1px;
  --needleTransition: 0.25s ease-in-out;
  --needleFilter: drop-shadow(2px 4px 4px rgba(20, 10, 0, 0.1));

  /* empty plot */
  --emptyPlotFontFamily: var(--mainFontFamily);


  /* fullscreen */
  --fullscreenBackground: var(--plotSurface);
}

[data-series-number="0"] {
  --activePlotColor: var(--plotColor0);
}
[data-series-number="1"] {
  --activePlotColor: var(--plotColor1);
}
[data-series-number="2"] {
  --activePlotColor: var(--plotColor2);
}
[data-series-number="3"] {
  --activePlotColor: var(--plotColor3);
}
[data-series-number="4"] {
  --activePlotColor: var(--plotColor4);
}
[data-series-number="5"] {
  --activePlotColor: var(--plotColor5);
}
[data-series-number="6"] {
  --activePlotColor: var(--plotColor6);
}
[data-series-number="7"] {
  --activePlotColor: var(--plotColor7);
}
[data-series-number="8"] {
  --activePlotColor: var(--plotColor8);
}
[data-series-number="9"] {
  --activePlotColor: var(--plotColor9);
}
[data-series-number="manual"] {
  --activePlotColor: var(--overridePlotColor);
}