<script setup lang="ts">
import type {
  LinearScaler,
  Margins,
  NumericPoint,
  IdentifiedNumericPoint
} from "../common";
import { type DataSet } from "../common";
import BasicChart from "./BasicChart.vue";
import { clamp } from "../utils";
import { isDiscreteDomain } from "../domain";
import { useAggregateDomains } from "../main";
import { computed, ref } from "vue";
import { useChart } from "../composables/useChart";

const { dataSets, stackSeries = false } = defineProps<{
  /**
   * The datasets to render. Barchart generally makes the most sense using a `DiscreteDomain` for the x axis
   */
  dataSets: DataSet[];
  /**
   * stackSeries will plot all Y points that share an X on the same bar
   */
  stackSeries?: boolean;
}>();

const wrapper = ref<InstanceType<typeof BasicChart>>();

const { layout, mouseState, reserveSpace } = useChart(
  computed(() => wrapper.value?.$el)
);

const { aggregateX } = useAggregateDomains(dataSets, [], true, stackSeries);

const barWidth = computed(() => {
  // console.log("recomputing bar width", aggregateX.value);
  if (layout.value && isDiscreteDomain(aggregateX.value)) {
    if (stackSeries) {
      const segments = aggregateX.value.values.length;
      const pxPerSegment = layout.value.plotWidth / segments;
      return clamp(pxPerSegment * 0.25, 2, 220);
    } else {
      const segments = (aggregateX.value.values.length + 2) * dataSets.length;
      const pxPerSegment = layout.value.plotWidth / segments;
      return clamp(pxPerSegment * 0.35, 2, 220);
    }
  }
  return 4;
});

const stackedBarHeight = (
  yScaler: LinearScaler,
  currentPoint: NumericPoint,
  previousPoint?: NumericPoint
) => {
  let h = 0;
  if (previousPoint) {
    h = previousPoint.y - currentPoint.y;
  } else {
    const diff = yScaler.scale(0) - currentPoint.y;
    // console.log("no previous wtf", diff);
    h = diff;
  }
  // console.log("H:", h, previousPoint?.y, currentPoint.y);
  return h;
};

const handleRes = (id: string, m: Margins) => {
  reserveSpace(id, m);
};
</script>

<template>
  <BasicChart
    ref="wrapper"
    :layout="layout"
    :mouse-state="mouseState"
    :data-sets="dataSets"
    :stack-series="stackSeries"
    :shift-series="barWidth"
    class="bar-chart"
    enable-x-panning
    enable-x-zooming
    @update:space="handleRes"
  >
    <!-- perXValue is only there when stackSeries is true -->
    <template #perXValue="{ entries, yScaler }">
      <rect
        v-for="(e, i) of entries"
        :key="i"
        :data-series-number="entries[i]?.dataSeriesNumber"
        :x="e.x - barWidth / 2"
        :y="e.y"
        :width="barWidth"
        :height="
          stackedBarHeight(
            yScaler,
            e,
            entries.find(
              (e2: IdentifiedNumericPoint) => e2.stackIndex === e.stackIndex - 1
            )
          )
        "
        fill="var(--activePlotColor)"
      />
    </template>
    <template
      #perPoint="{ screenPoint, dataSeriesNumber, yScaler, inactiveDataSets }"
    >
      <rect
        v-if="!inactiveDataSets.includes(dataSeriesNumber)"
        fill="var(--activePlotColor, orchid)"
        :data-series-number="dataSeriesNumber"
        :x="screenPoint.x - barWidth / 2"
        :y="screenPoint.y"
        :width="barWidth"
        :height="yScaler.scale(0) - screenPoint.y - 1"
      />
    </template>
  </BasicChart>
</template>

<style scoped lang="scss">
.bar-chart {
  --aspectRatio: 3;
  --minHeight: 350px;
}
</style>
