<script setup lang="ts">
import type { NumericDomain } from "../domain";

import { clamp } from "../utils";
import DDV from "../components/DDV.vue";
import PolarAxis from "../components/PolarAxis.vue";
import PolarInterpolator from "../components/PolarInterpolator.vue";
import GaugeNeedle from "../components/GaugeNeedle.vue";
import { useChart } from "../composables/useChart";
import { ref, toRefs } from "vue";
const props = withDefaults(
  defineProps<{
    /**
     * The data-space value the needle should indicate (should be included in `domain`), null for no needle
     */
    value: number;
    /**
     * The min and max values of the gauge (data-space)
     */
    domain: NumericDomain;
    /**
     * Same as for [`PolarAxis`](/components/PolarAxis)
     */
    perimeterRatio?: number;
  }>(),
  {
    perimeterRatio: 1.0
  }
);
const { value, domain, perimeterRatio } = toRefs(props);

const wrapper = ref();
const { layout, mouseState, reserveSpace } = useChart(wrapper);

const magnitudeDomain = { min: 0, max: 1 }; // value drives the angle, nothing drives magnitude for the gauge
</script>

<template>
  <DDV
    ref="wrapper"
    class="gauge"
    :layout="layout"
    :mouse-state="mouseState"
    :reserve-space="reserveSpace"
  >
    <PolarInterpolator
      :layout="layout"
      :angle-domain="domain"
      :magnitude-domain="magnitudeDomain"
      :perimeter-ratio="perimeterRatio"
      :start-distance-ratio="0.15"
      :end-distance-ratio="0.97"
    >
      <template #default="polarSystem">
        <g
          :transform="`translate(${layout.margins.left} ${layout.margins.top})`"
        >
          <PolarAxis
            :layout="layout"
            :reserve-space="reserveSpace"
            label="Gauge Example"
            :angle-domain="domain"
            :magnitude-domain="magnitudeDomain"
            :polar-system="polarSystem"
            :angle-tick-density="1 / 30"
            :tick-length-px="4"
            :draw-angle-grid-lines="true"
            :draw-magnitude-grid-lines="false"
            :draw-angle-labels="true"
            :draw-magnitude-labels="false"
          />
          <GaugeNeedle
            v-if="typeof value === 'number'"
            :value="value"
            :center="polarSystem.center"
            :length-px="polarSystem.radiusMax"
            :hinge-radius="clamp(polarSystem.radiusMax * 0.05, 6, 24)"
            :angle-degrees="polarSystem.angleScaler.scale(value)"
          />
        </g>
      </template>
    </PolarInterpolator>
  </DDV>
</template>

<style lang="scss">
.ddv.gauge {
  .reading {
    text-anchor: middle;
    fill: var(--axisTickFontColor);
    font-family: var(--axisLabelFontFamily);
    font-size: 22px;
    font-weight: 900;
  }
}
</style>
