<script setup lang="ts">
import { computed, ref, toRefs } from "vue";
import type {
  DataSet,
  IndexSearchResult,
  NumericPoint,
  ProjectedPointPair
} from "../common";
import DDV from "../components/DDV.vue";
import BSP from "../components/BSP.vue";
import PolarAxis from "../components/PolarAxis.vue";
import SeriesToggler from "../components/SeriesToggler.vue";
import { useArrayToggler } from "../composables/useArrayToggler";
import { useDownSampler } from "../composables/useDownSampler";
import { useAggregateDomains } from "../composables/useAggregateDomains";
import { usePannedAndZoomedDomain } from "../composables/usePannedAndZoomedDomain";
import { useChart } from "../composables/useChart";
import { useProjectedDataSets } from "../composables/useProjectedDataSets";
import { usePolarInterpolator } from "../composables/usePolarInterpolator";
import type { NearestPointByDataSet } from "../composables/useBSP";
import NearestPoint from "../components/NearestPoint.vue";
import LinePlot from "../components/LinePlot.vue";

const props = withDefaults(
  defineProps<{
    /**
     * The datasets to plot, they will be drawn in order one on top of the other "lowest" (first) to "highest" (last)
     */
    dataSets: DataSet[];
    /**
     * Same as for [`PolarAxis`](/components/PolarAxis)
     */
    perimeterRatio?: number;
  }>(),
  {
    perimeterRatio: 1.0
  }
);
const { dataSets, perimeterRatio } = toRefs(props);

const { inactiveItems } = useArrayToggler();
const processedDataSets = useDownSampler(dataSets, 500);
const { aggregateX, aggregateY } = useAggregateDomains(
  processedDataSets,
  inactiveItems,
  false,
  false
);

const wrapper = ref<InstanceType<typeof DDV>>();
const { layout, mouseState, reserveSpace } = useChart(wrapper);
const enablePan = ref(true);
const enableZoom = ref(true);

const reverseX = computed(() => !!processedDataSets.value[0]?.reverseXAxis);
const reverseY = computed(() => !processedDataSets.value[0]?.reverseYAxis);

const { adjustedDomain: angleDomain } = usePannedAndZoomedDomain(
  aggregateX,
  "x",
  reverseX,
  computed(() => wrapper.value?.$el),
  mouseState,
  enablePan,
  enableZoom
);
const { adjustedDomain: magnitudeDomain } = usePannedAndZoomedDomain(
  aggregateY,
  "y",
  reverseY,
  computed(() => wrapper.value?.$el),
  mouseState,
  enablePan,
  enableZoom
);

const screenDomain = computed<NumericPoint>(() => ({
  x: layout.value.plotWidth,
  y: layout.value.computedHeight
}));

const polarSystem = usePolarInterpolator(
  screenDomain,
  angleDomain,
  magnitudeDomain,
  0.15,
  0.85,
  perimeterRatio
);
const cartesianScaler = computed(() => polarSystem.value.cartesianScaler);

const { projectedDataSets } = useProjectedDataSets(
  dataSets,
  inactiveItems,
  cartesianScaler
);
</script>

<template>
  <DDV
    ref="wrapper"
    class="gauge"
    :layout="layout"
    :mouse-state="mouseState"
    @update:space="reserveSpace"
  >
    <template #default="{ onUpdateNearestPoint }">
      <SeriesToggler v-if="layout.plotWidth > 0">
        <template #default="{ inactiveDataSets }">
          <g
            :transform="`translate(${layout.margins.left} ${layout.margins.top})`"
          >
            <PolarAxis
              v-if="polarSystem"
              :layout="layout"
              :angle-domain="angleDomain"
              :magnitude-domain="magnitudeDomain"
              :polar-system="polarSystem"
              :tick-length-px="4"
              :label-margin-px="6"
              draw-angle-labels
              draw-angle-grid-lines
              draw-magnitude-labels
              draw-magnitude-grid-lines
              :angle-tick-density="1 / 20"
              @update:space="reserveSpace"
            />
            <BSP
              :mouse-state="mouseState"
              :projected-data-sets="projectedDataSets"
              @update:nearest-point="
                (nearestPoints: NearestPointByDataSet | null) => {
                  nearestPoints?.forEach(
                    (
                      np: IndexSearchResult | null,
                      dataSeriesNumber: number
                    ) => {
                      onUpdateNearestPoint(
                        projectedDataSets.at(dataSeriesNumber)?.title ||
                          `Series ${dataSeriesNumber}`,
                        dataSeriesNumber,
                        !inactiveDataSets.includes(dataSeriesNumber),
                        np
                      );
                    }
                  );
                }
              "
            >
              <template #default="{ nearestPoints }">
                <g
                  v-for="(ds, dataSeriesNumber) of projectedDataSets"
                  :key="dataSeriesNumber"
                  :data-series-number="dataSeriesNumber"
                  class="projected-data-set"
                >
                  <LinePlot
                    :data-series-number="dataSeriesNumber"
                    curve-interpolator="straight"
                    :screen-points="
                      ds.pointPairs.map(
                        (pair: ProjectedPointPair) => pair.screenPoint
                      )
                    "
                  />
                  <NearestPoint
                    :nearest-point="nearestPoints[dataSeriesNumber]"
                    :data-series-number="dataSeriesNumber"
                  />
                </g>
              </template>
            </BSP>
          </g>
        </template>
      </SeriesToggler>
    </template>
  </DDV>
</template>
