<script setup lang="ts">
// import { faker } from "@faker-js/faker";
import { onMounted, ref } from "vue";
import type { DataSet } from "../src//lib/common";
import { clamp } from "../src/lib/utils";

import GaugeChart from "../src/lib/charts/GaugeChart.vue";
import ScatterChart from "../src/lib/charts/ScatterChart.vue";

const sine = Array.from({ length: 40 }).map((_, i) => ({
  x: i / 2,
  y: Math.sin(i / 2)
}));
const cosine = Array.from({ length: 40 }).map((_, i) => ({
  x: i / 2,
  y: Math.cos(i / 2)
}));
const sineSq = sine.map(p => ({ x: p.x, y: p.y * p.y }));

const dataSets: DataSet[] = [
  { title: "sin(x)", points: sine },
  { title: "cos(x)", points: cosine },
  { title: "sin(x)^2", points: sineSq }
];

const stairs: DataSet[] = [
  { title: "sin(x)", points: sine, curveType: "stair-step" },
  { title: "cos(x)", points: cosine, curveType: "stair-step" },
  { title: "sin(x)^2", points: sineSq, curveType: "stair-step" }
];

const ramps: DataSet[] = [
  {
    title: "x^2",
    points: Array.from({ length: 10 }).map((_, i) => ({
      x: i,
      y: i * i
    }))
  },
  {
    title: "x^3",
    points: Array.from({ length: 10 }).map((_, i) => ({
      x: i,
      y: i * i * i
    }))
  }
];

const gaugeValue = ref(50);
const maxSwingAmount = 25;
const gaugeDomain = ref({ min: 0, max: 100 });

// const otherSets: DataSet[] = [
//   {
//     title: "other",
//     curveType: "stair-step",
//     xAxisLabel: "foo",
//     xAxisTickLabelFunc: v => {
//       const d = new Date(v);
//       console.log(d);
//       return format(d, "MMM/d/yy");
//     },
//     points: faker.date
//       .betweens("2021-01-01T00:00:00.000Z", "2022-01-01T00:00:00.000Z", 60)
//       .map(d => ({
//         x: d,
//         y: faker.datatype.number({ min: -8, max: 89 }),
//       })),
//   },
// ];

onMounted(() => {
  setInterval(() => {
    gaugeValue.value = clamp(
      gaugeValue.value +
        Math.random() * maxSwingAmount * (Math.random() > 0.5 ? 1 : -1),
      gaugeDomain.value.min,
      gaugeDomain.value.max
    );
  }, 2000);
});
</script>

<template>
  <div class="wrap">
    <div class="full-width">
      <ClientOnly>
        <ScatterChart
          title="Points"
          :aspect-ratio="30"
          :minimum-height-px="120"
          draw-points
          enable-mouse-tracking
          draw-tool-tips
          :data-sets="dataSets"
        />
        <ScatterChart
          title="Curves"
          :aspect-ratio="30"
          :data-sets="dataSets"
          :minimum-height-px="120"
          draw-curve
          enable-mouse-tracking
          draw-tool-tips
        />

        <ScatterChart
          title="Steps"
          :aspect-ratio="30"
          :data-sets="stairs"
          :minimum-height-px="120"
          draw-curve
          enable-mouse-tracking
          draw-tool-tips
        />
      </ClientOnly>
    </div>
    <div class="container">
      <ClientOnly>
        <ScatterChart
          title="X & Y Axis, ToolTips"
          :data-sets="ramps"
          :aspect-ratio="3"
          :minimum-height-px="240"
          draw-curve
          draw-x-axis
          draw-y-axis
          enable-mouse-tracking
          draw-tool-tips
        />
      </ClientOnly>

      <h2>Guages</h2>
      <div class="gauges">
        <ClientOnly>
          <GaugeChart
            v-for="i in [1, 1.5, 2, 3]"
            :key="`gauge-${i}`"
            :value="gaugeValue"
            :domain="gaugeDomain"
            :perimeter-ratio="1 / i"
            :minimum-height-px="100"
          />
        </ClientOnly>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "../src/assets/theme.css";
@import "../src/assets/devsite.css";

.wrap {
  h2 {
    font-weight: 700;
    font-size: 20px;
  }
  .full-width {
    .ddv {
      margin: 2em 0;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: 0em auto;
    max-width: 1152px;
    @media (max-width: 959px) {
      padding: 1em 2em;
    }
    .gauges {
      display: grid;
      grid-template-columns: 1fr;
      @media (min-width: 659px) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
</style>
