<script setup lang="ts">
import { computed } from "vue";
import pkg from "../../package.json";
import { useColorMode } from "@vueuse/core";

const themes = {
  mono: "mono",
  modeB: "modeB"
};
const currentTheme = useColorMode({
  modes: themes // this is in addition to '' (auto), 'light', and 'dark'
});
const nextTheme = computed(() => {
  switch (currentTheme.value) {
    default:
    case "auto":
      return "light";
    case "light":
      return "dark";
    case "dark":
      return "mono";
    case "mono":
      return "modeB";
    case "modeB":
      return "auto";
  }
});
</script>

<template>
  <article>
    <header>
      <section>
        <h1>
          DDV
          <code>v{{ pkg.version }}</code>
        </h1>
        <nav>
          <router-link to="/">Home</router-link>
          |
          <router-link to="/demo">Demo</router-link>
          |
          <router-link to="/pg">Playground</router-link>
        </nav>
        <span>theme: {{ currentTheme }}</span>
        <button @click="currentTheme = nextTheme">
          Next Theme: {{ nextTheme }}
        </button>
      </section>
    </header>

    <section>
      <router-view />
    </section>
  </article>
</template>

<style lang="scss">
@import "../assets/theme.css";
@import "../assets/devsite.css";

html {
  background: var(--surface-0);
  color: var(--textColor);
}
body {
  margin: 0;
  padding: 0;
}
a {
  color: var(--linkColor);
  transition: color 0.2s ease-in-out;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    filter: brightness(0.95) saturate(0.7);
  }
}

header {
  background: var(--surface-50);
  section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}

section {
  margin: 0em auto;
  padding: 0.5rem 1rem;
  max-width: 1440px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}
</style>
