<script setup lang="ts">
import { toRefs, watchEffect } from "vue";
import type { MouseState, ProjectedDataSet } from "../common";
import type { NearestPointByDataSet } from "../composables/useBSP";
import { useBSP } from "../composables/useBSP";

const props = defineProps<{
  projectedDataSets: ProjectedDataSet[];
  mouseState: MouseState;
  ignoreXValues?: boolean;
  ignoreYValues?: boolean;
}>();
const { projectedDataSets, mouseState, ignoreXValues, ignoreYValues } =
  toRefs(props);

const emit = defineEmits<
  (e: "update:nearest-point", point: NearestPointByDataSet | null) => void // eslint-disable-line no-unused-vars
>();

const { nearestPoints } = useBSP(
  projectedDataSets,
  mouseState,
  ignoreXValues,
  ignoreYValues
);
watchEffect(() => {
  emit("update:nearest-point", nearestPoints.value);
});
</script>

<template>
  <g v-if="nearestPoints" class="bsp">
    <slot
      :projected-data-sets="projectedDataSets"
      :nearest-points="nearestPoints"
    />
  </g>
</template>
