<script setup lang="ts">
import type { Domain, NumericDomain } from "../domain";
import { useCartesianScaler } from "../composables/useCartesianScaler";
import { useLinearScaler } from "../composables/useLinearScaler";
import { toRefs } from "vue";

export interface CartesianScalerProps {
  /**
   * the domain of x values to spread over the screen
   */
  xSource: Domain;
  /**
   * the domain of y values to spread over the screen
   */
  ySource: Domain;
  /**
   * Length in pixels to interpolate the xSource over, usually you want `{min: 0, max: domState.plotWidth}`
   */
  xTarget: NumericDomain;
  /**
   * Length in pixels to interpolate the ySource over, usually you want `{min: 0, max: domState.plotHeight}`
   */
  yTarget: NumericDomain;
  /**
   * reverse the direction of the x axis
   */
  reverseXAxis?: boolean;
  /**
   * reverse the direction of the y axis
   */
  reverseYAxis?: boolean;
}

const props = withDefaults(defineProps<CartesianScalerProps>(), {
  reverseXAxis: false,
  reverseYAxis: false
});

const { xSource, ySource, xTarget, yTarget, reverseXAxis, reverseYAxis } =
  toRefs(props);

const xScaler = useLinearScaler(xSource, xTarget, reverseXAxis);
const yScaler = useLinearScaler(ySource, yTarget, reverseYAxis);
const pointScaler = useCartesianScaler(xScaler, yScaler);
</script>

<template>
  <g class="cartesian-scaler">
    <slot
      :point-scaler="pointScaler"
      :x-scaler="xScaler"
      :y-scaler="yScaler"
      :x-source="xSource"
      :y-source="ySource"
    />
  </g>
</template>
