<script setup lang="ts">
import { computed, ref, onMounted } from "vue";
import type { Layout, Margins, NumericPoint } from "../common";

export interface ChartTitleProps {
  layout: Layout;
  /**
   * The title of the chart
   */
  title?: string;
  /**
   * margin around the title in pixels
   */
  marginPx?: number;
}

const props = withDefaults(defineProps<ChartTitleProps>(), {
  title: undefined,
  marginPx: 6
});
const emit = defineEmits<{
  (e: "update:space", id: string, margins: Margins): void;
}>();

const titleId = ref(Math.round(Math.random() * 100000));

const reservation = {
  top: 20 + props.marginPx,
  bottom: 0,
  left: 0,
  right: 0
};

onMounted(() => {
  emit("update:space", `chart-title-${titleId.value}`, reservation);
});

const topLeft = computed(
  (): NumericPoint => ({
    x: props.layout.margins.left,
    y: props.layout.margins.top - props.marginPx
  })
);
</script>

<template>
  <text v-if="title" class="title" :x="topLeft.x" :y="topLeft.y">
    {{ title }}
  </text>
</template>

<style lang="scss" scoped>
text {
  text-anchor: start;
  font-family: var(--titleFontFamily);
  fill: var(--titleFill);
  font-size: var(--titleFontSize);
  font-weight: var(--titleFontWeight);
}
</style>
../composables/useSpaceReservations
