<script setup lang="ts">
import { computed, toRefs } from "vue";
import type { Layout, MouseState, NumericPoint } from "../common";
import { clamp } from "../utils";

const props = withDefaults(
  defineProps<{
    layout: Layout;
    mouseState: MouseState;
    /**
     * when true don't draw the Y bar
     */
    ignoreX?: boolean;
    /**
     * when true don't draw the X bar
     */
    ignoreY?: boolean;
    /**
     * the crosshairs wont draw this many pixels from the mouse
     */
    midPointPaddingPx?: number;
    /**
     * when true turns on a "marching ants" animation on the crosshair lines
     */
    isAnimated?: boolean;
  }>(),
  {
    ignoreX: false,
    ignoreY: false,
    midPointPaddingPx: 20
  }
);
const { layout, mouseState } = toRefs(props);

const mouse = computed<NumericPoint>(() =>
  mouseState.value
    ? {
        x: Math.round(mouseState.value?.mouse.x),
        y: Math.round(mouseState.value?.mouse.y)
      }
    : { x: 0, y: 0 }
);
const isAbovePlot = computed(() => mouse.value.y < 0);
const isBelowPlot = computed(() => mouse.value.y > layout.value.plotHeight);
const isLeftOfPlot = computed(() => mouse.value.x < 0);
const isRightOfPlot = computed(() => mouse.value.x > layout.value.plotWidth);
const isInsideX = computed(() => !isLeftOfPlot.value && !isRightOfPlot.value);
const isInsideY = computed(() => !isAbovePlot.value && !isBelowPlot.value);
</script>

<template>
  <svg v-show="mouse" class="crosshair" :class="{ isAnimated }">
    <defs>
      <path id="arrow-up" d="M -4,8 L 0,0 4,8" />
      <path id="arrow-down" d="M -4,-8 L 0,0 4,-8" />
      <path id="arrow-left" d="M 8,-4 L 0,0 8,4" />
      <path id="arrow-right" d="M -8,-4 L 0,0 -8,4" />
    </defs>

    <slot
      name="default"
      :is-inside-x="isInsideX"
      :is-inside-y="isInsideY"
      :mouse="mouse"
    >
      <use
        v-if="isAbovePlot || isBelowPlot || isLeftOfPlot || isRightOfPlot"
        :href="
          isAbovePlot
            ? '#arrow-up'
            : isBelowPlot
              ? '#arrow-down'
              : isLeftOfPlot
                ? '#arrow-left'
                : '#arrow-right'
        "
        class="out-of-bounds-indicator"
        :class="{ rotate: isLeftOfPlot }"
        :x="clamp(mouse.x, 0, layout.plotWidth)"
        :y="clamp(mouse.y, 0, layout.plotHeight)"
      />

      <line
        v-if="isInsideX && !isAbovePlot && !ignoreX"
        :x1="mouse.x"
        :x2="mouse.x"
        :y1="0"
        :y2="clamp(mouse.y - midPointPaddingPx, 0, layout.plotHeight)"
      />
      <line
        v-if="isInsideX && !isBelowPlot && !ignoreX"
        :x1="mouse.x"
        :x2="mouse.x"
        :y2="clamp(mouse.y + midPointPaddingPx, 0, layout.plotHeight)"
        :y1="layout.plotHeight"
      />

      <line
        v-if="isInsideY && !isLeftOfPlot && !ignoreY"
        :x1="0"
        :x2="clamp(mouse.x - midPointPaddingPx, 0, layout.plotWidth)"
        :y1="mouse.y"
        :y2="mouse.y"
      />
      <line
        v-if="isInsideY && !isRightOfPlot && !ignoreY"
        :x2="clamp(mouse.x + midPointPaddingPx, 0, layout.plotWidth)"
        :x1="layout.plotWidth"
        :y1="mouse.y"
        :y2="mouse.y"
      />
    </slot>
  </svg>
</template>

<style lang="scss">
@keyframes antMarch {
  from {
    stroke-dashoffset: 48px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}

.crosshair {
  shape-rendering: crispEdges;
  line {
    stroke: var(--crosshairStroke);
    stroke-width: var(--crosshairStrokeWidth);
  }
  &.isAnimated line {
    animation: 5s infinite linear antMarch;
    stroke-dasharray: 12px;
  }

  .out-of-bounds-indicator {
    fill: none;
    stroke: var(--crosshairStroke);
    stroke-width: var(--crosshairStrokeWidth);
  }
}
</style>
