<script setup lang="ts">
import { reactive, ref, toRefs } from "vue";
import type {
  MouseState,
  IndexSearchResult,
  ToolTipInfo,
  Layout
} from "../common";
import type { ValueFormatter } from "../formatting";
import { getDefaultValueFormatter } from "../formatting";
import { useLogger } from "../logger";
import ToolTip from "./ToolTip.vue";

const props = defineProps<{
  layout: Layout;
  mouseState: MouseState;
  isFullScreen?: boolean;
}>();
const { layout, mouseState, isFullScreen } = toRefs(props);

// eslint-disable-next-line @typescript-eslint/no-unused-vars
const log = useLogger("DDV");
const chartId = Math.round(Math.random() * 100_000);

// get access to our wrapper DIV so we can bind listeners to it
const wrapper = ref<HTMLElement>();
const svgRef = ref<SVGElement>();

const toolTipInfo = reactive<ToolTipInfo>([]);
const onUpdateNearestPoint = (
  title: string,
  seriesNumber: number,
  isActive: boolean,
  point: IndexSearchResult | null,
  xFormatter: ValueFormatter = getDefaultValueFormatter(),
  yFormatter: ValueFormatter = getDefaultValueFormatter(),
  xLabel: string = "X",
  yLabel: string = "Y"
) => {
  // log("updating nearest point for series", seriesNumber, point?.node);
  toolTipInfo[seriesNumber] = {
    title,
    xLabel,
    yLabel,
    isActive,
    nearestPoint: point,
    xFormatter,
    yFormatter
  };
};
</script>

<template>
  <div
    v-if="layout && mouseState"
    :id="`ddv-${chartId}`"
    ref="wrapper"
    class="ddv"
    :class="{
      isHovered: mouseState.isHovered,
      isPlotHovered: mouseState.isPlotHovered,
      isFullScreen
    }"
  >
    <svg ref="svgRef" class="outer" width="100%" height="100%">
      <slot
        :layout="layout"
        :mouse-state="mouseState"
        :chart-id="chartId"
        :on-update-nearest-point="onUpdateNearestPoint"
        :tool-tip-info="toolTipInfo"
      ></slot>
    </svg>

    <div class="hoverOptions">
      <slot name="hoverOptions" />
    </div>

    <Teleport to="body" :disabled="!mouseState.isPlotHovered">
      <!-- <pre>{{ toolTipInfo }}</pre> -->
      <slot
        v-if="toolTipInfo"
        name="tooltip"
        :tool-tip-info="toolTipInfo"
        :chart-id="chartId"
      >
        <ToolTip
          :id="`ddv-tt-${chartId}`"
          :layout="layout"
          :mouse-state="mouseState"
          :tool-tip-info="toolTipInfo"
        />
      </slot>
    </Teleport>
  </div>
</template>

<style lang="scss">
.ddv {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: visible;
  transition: height width 0.1s ease-in-out;
  &.mouse-tracking {
    touch-action: none;
  }
  &.isPlotHovered {
    cursor: crosshair;
  }
  &.isHovered {
    div.hoverOptions {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .plotBg {
    transition:
      fill,
      filter 0.2s ease-in;
    fill: var(--plotSurface);
    &.isPanning,
    &.isZooming {
      filter: opacity(0.4);
    }
  }

  div.hoverOptions {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
  }

  button.fullscreen {
    margin-left: -50%;
    border-radius: 4px;
    padding: 0.25em 0.5em;
    color: var(--titleFill);
    border: var(--tooltipBorder);
    background: var(--tooltipSurface);
    &:hover {
      background: var(--warningColor);
    }
  }

  svg.outer {
    aspect-ratio: var(--aspectRatio);
    min-width: var(--minWidth);
    min-height: var(--minHeight, 250px);
    user-select: none;
    * {
      transform-box: fill-box;
    }
    background: var(--chartSurface, transparent);
  }

  &.isFullScreen {
    background: var(--fullscreenBackground);
  }
}
</style>
