<script lang="ts">
import type { PropType } from "vue";
import { defineComponent } from "vue";
import type { NumericPoint } from "../common";

export default defineComponent({
  props: {
    center: {
      type: Object as PropType<NumericPoint>,
      default: () => ({ x: 0, y: 0 })
    },
    hingeRadius: {
      type: Number,
      default: 12
    },
    lengthPx: {
      type: Number,
      default: 100
    },
    angleDegrees: {
      type: Number,
      default: 0
    }
  }
});
</script>

<template>
  <g class="gauge-needle">
    <path
      class="needle"
      :d="`
      M ${center.x - 4} ${center.y}
      L ${center.x} ${center.y - lengthPx}
      L ${center.x + 4} ${center.y}
    `"
      :transform="`rotate(${
        angleDegrees > 180 ? (angleDegrees - 360) % 360 : angleDegrees
      })`"
    />
    <circle class="hinge" :r="hingeRadius" :cx="center.x" :cy="center.y" />
  </g>
</template>

<style lang="scss" scoped>
.gauge-needle {
  .hinge {
    fill: var(--needleHingeFill);
    stroke: var(--needleHingeStroke);
  }

  .needle {
    transition: var(--needleTransition);
    transform-origin: center bottom;
    fill: var(--needleFillColor);
    stroke: var(--needleStrokeColor);
    stroke-width: var(--needleStrokeWidth);
    stroke-linecap: round;
    filter: var(--needleFilter);
  }
}
</style>
