<script setup lang="ts">
import { computed, withDefaults } from "vue";
import type { NumericPoint } from "../common";
import type { CurveType } from "../curveInterpolators";
import {
  plotCatmullRom,
  plotStairStep,
  plotStraightLine
} from "../curveInterpolators";

export interface LinePlotProps {
  /**
   * the points (in screen space) which a curve should be drawn through
   */
  screenPoints: NumericPoint[];
  /**
   * Chooses which css variable to activate per line
   */
  dataSeriesNumber?: number;
  /**
   * Which algorithm to use to connect the points in `screenPoints`
   */
  curveInterpolator?: CurveType;
  /**
   * stairStepTopRatio, position of the data point on a plot where 0 is the left of the stair "top" and 1 is the right side of it (only used when curveInterpolator is `stair-step`)
   */
  stairStepTopRatio?: number;
  /**
   * when false, the line is hidden from the screen
   */
  isActive?: boolean;
  /**
   * true while the user is panning the plot
   */
  isPanning?: boolean;
  /**
   * true while the user is zooming the plot
   */
  isZooming?: boolean;
}

const props = withDefaults(defineProps<LinePlotProps>(), {
  screenPoints: (): NumericPoint[] => [],
  dataSeriesNumber: 0,
  stairStepTopRatio: 0.5,
  curveInterpolator: "catmull-rom",
  isActive: true,
  isPanning: false,
  isZooming: false
});

const pathSource = computed(() => {
  let p;
  switch (props.curveInterpolator) {
    case "catmull-rom":
      // console.time("catmull-rom");
      p = plotCatmullRom(props.screenPoints, 0.5);
      // console.timeEnd("catmull-rom");
      break;
    case "stair-step":
      p = plotStairStep(props.screenPoints, props.stairStepTopRatio);
      break;
    default:
      p = plotStraightLine(props.screenPoints);
      break;
  }
  return p;
});
</script>

<template>
  <path
    v-if="props.screenPoints && !pathSource.includes('NaN')"
    :d="pathSource"
    :class="{
      'line-plot': true,
      'is-active': props.isActive,
      'is-panning': props.isPanning,
      'is-zooming': props.isZooming
    }"
    :data-series-number="props.dataSeriesNumber"
  />
</template>

<style lang="scss">
path.line-plot {
  &:not(.is-active) {
    opacity: 0;
  }
  stroke: var(--activePlotColor, "orangered");
  stroke-width: 1;
  fill: none;
  transition: all 0.2s ease-in-out;

  &.is-panning,
  &.is-zooming {
    stroke-opacity: 0.35;
    transition: none;
  }

  &:hover {
    stroke-width: 2.5;
  }
}
</style>
