<script setup lang="ts">
import type { IndexSearchResult } from "../common";

defineProps<{
  /**
   * the point to draw, usually provided by BSP
   */
  nearestPoint: IndexSearchResult | null;
}>();
</script>

<template>
  <g v-if="nearestPoint" class="nearest-point">
    <circle
      class="outer-ring"
      :cx="nearestPoint.node.screenPoint.x"
      :cy="nearestPoint.node.screenPoint.y"
      :r="Math.sqrt(nearestPoint?.screenDistanceSq || 0)"
    />
    <circle
      class="middle-ring"
      :cx="nearestPoint.node.screenPoint.x"
      :cy="nearestPoint.node.screenPoint.y"
      :r="9"
    />
    <circle
      class="inner-ring"
      :cx="nearestPoint.node.screenPoint.x"
      :cy="nearestPoint.node.screenPoint.y"
      :r="5"
    />
  </g>
</template>

<style lang="scss" scoped>
@keyframes pulsar {
  from {
    transform: scale(1.5);
    filter: saturate(1.5) brightness(1.2);
  }
  to {
    fill-opacity: 0.07;
  }
}
.nearest-point {
  circle {
    transform-origin: 50% 50%;
    // transition: all 0.1s ease-in-out;
  }
  stroke: var(--activePlotColor);
  stroke-width: var(--nearestPointStrokeWidth, 1);
  fill: rgba(var(--activePlotColor), 0.5);
  circle {
    stroke-width: 0;
  }
  .outer-ring {
    fill: var(--activePlotColor);
    fill-opacity: 0.16;
    animation: 2s cubic-bezier(0.23, 1, 0.32, 1) 50ms infinite alternate pulsar;
  }
  .middle-ring {
    fill: var(--activePlotColor);
    fill-opacity: 0.56;
  }
  .inner-ring {
    fill: transparent;
    stroke: white;
    stroke-width: 2px;
  }
}
</style>
