<script setup lang="ts">
import { toRefs, computed } from "vue";
import type { Layout, NumericPoint } from "../common";
import type { Domain } from "../domain";
import { usePolarInterpolator } from "../composables/usePolarInterpolator";

export type PolarInterpolatorProps = {
  layout: Layout;
  /**
   * the domain of values to spread over the angles of this plot
   */
  angleDomain: Domain;
  /**
   * the domain of values to spread over the magnitude of this plot (center to edge)
   */
  magnitudeDomain: Domain;
  /** where this interpolator should begin on the radius, 0 means at the origin, 1 means at the end of the radius */
  startDistanceRatio?: number;
  /** how far this interpolator should go down the available radius, 1 means end of radius */
  endDistanceRatio?: number;
  /** how much of the circle's perimeter to use. 1 means all of it */
  perimeterRatio?: number;
};

const props = withDefaults(defineProps<PolarInterpolatorProps>(), {
  startDistanceRatio: 0,
  endDistanceRatio: 1,
  perimeterRatio: 1
});

const {
  angleDomain,
  magnitudeDomain,
  startDistanceRatio,
  endDistanceRatio,
  perimeterRatio
} = toRefs(props);

const screenDomain = computed<NumericPoint>(() => ({
  x: props.layout.plotWidth,
  y: props.layout.computedHeight
}));

const ps = usePolarInterpolator(
  screenDomain,
  angleDomain,
  magnitudeDomain,
  startDistanceRatio,
  endDistanceRatio,
  perimeterRatio
);
</script>

<template>
  <g class="polar-interpolator">
    <slot v-bind.camel="ps" />
  </g>
</template>
