<script setup lang="ts">
import { toRefs } from "vue";
import type { DataSet } from "../common";
import { useDownSampler } from "../composables/useDownSampler";
import { useAggregateDomains } from "../composables/useAggregateDomains";

export interface SeriesReducerProps {
  /** the datasets to process, normally all of them */
  dataSets: DataSet[];
  /** A list of integers representing which series have been deactivated */
  inactiveDataSets?: number[];
  /** when true, ensures the aggregate domains include the origin (0,0) */
  absoluteScale?: boolean;
  /** any points provided beyond this will trigger teh LTTB decimatior to downsample points */
  maxPoints?: number;
}

const props = withDefaults(defineProps<SeriesReducerProps>(), {
  inactiveDataSets: () => [],
  absoluteScale: true,
  maxPoints: 1_000
});
const { dataSets, inactiveDataSets, absoluteScale, maxPoints } = toRefs(props);

const processedDataSets = useDownSampler(dataSets, maxPoints);
const { aggregateX, aggregateY } = useAggregateDomains(
  processedDataSets,
  inactiveDataSets,
  absoluteScale,
  false // TODO: make this a prop
);
</script>

<template>
  <g class="series-reducer">
    <slot
      :aggregate-x="aggregateX"
      :aggregate-y="aggregateY"
      :processed-data-sets="processedDataSets"
    />
  </g>
</template>
