<script setup lang="ts">
import { useArrayToggler } from "../composables/useArrayToggler";

const { inactiveItems, isActive, activate, deactivate, toggle } =
  useArrayToggler();
</script>

<template>
  <g class="series-toggler">
    <slot
      :inactive-data-sets="inactiveItems"
      :is-series-active="isActive"
      :activate-series="activate"
      :deactivate-series="deactivate"
      :toggle-series="toggle"
    />
  </g>
</template>
