<script setup lang="ts">
import type { NumericDomain } from "../domain";
import { ref } from "vue";
import type { LinearScaler, IndexSearchResult, Layout } from "../common";

export interface ThresholdLineProps {
  layout: Layout;
  /**
   * an optional label for this threshold
   */
  label?: string | null;
  /**
   * data-space value for this threshold
   */
  value: number;
  /**
   * true if this is an x-axis threshold value
   */
  isX?: boolean;
  /**
   * scaling function for dataspace to screenspace
   */
  scaler: LinearScaler;
  /**
   * `value` should be inside the domain in order to see anything
   */
  domain: NumericDomain;
  /**
   * Overrides this threshold's region color. Accepts HTML codes like `"red"` or `"#F90"`
   */
  color?: string | null;
  /**
   * NOT USED
   */
  nearestPoint?: IndexSearchResult | null;
}

const props = withDefaults(defineProps<ThresholdLineProps>(), {
  label: null,
  isX: false,
  color: null,
  nearestPoint: null
});

const colorRef = ref(props.color);
</script>

<template>
  <g
    v-if="value !== null"
    class="threshold"
    :class="{ isX }"
    :style="colorRef !== null ? `--manualColor: ${colorRef}` : ''"
    :transform="isX ? `translate(${scaler.scale(value)} 0)` : ''"
  >
    <line
      :x1="0"
      :x2="isX ? 0 : layout.plotWidth"
      :y1="isX ? 0 : scaler.scale(value)"
      :y2="isX ? layout.plotHeight : scaler.scale(value)"
    />
  </g>
</template>

<style lang="scss">
.threshold {
  line {
    stroke: var(--manualColor, var(--thresholdLineDefaultStroke));
    stroke-width: var(--thresholdStrokeWidth, 1px);
  }
}
</style>
