<script setup lang="ts">
import type { LinearScaler, IndexSearchResult, Layout } from "../common";
import type { Domain } from "../domain";

export interface ThresholdAreaProps {
  layout: Layout;
  /**
   * an optional label for this threshold
   */
  label?: string | null;
  /**
   * minimum data-space value for this threshold
   */
  min: number;
  /**
   * maximum data-space value for this threshold
   */
  max: number;
  /**
   * true if this is an x-axis threshold value
   */
  isX?: boolean;
  /**
   * scaling function for dataspace to screenspace
   */
  scaler: LinearScaler;
  /**
   * `min` or `max` should be inside the domain in order to see anything
   */
  domain: Domain;
  /**
   * Overrides this threshold's region color. Accepts HTML codes like `"red"` or `"#F90"`
   */
  color?: string | null;
  /**
   * angle in degrees to rotate the region's pattern
   */
  patternRotation?: number;
  /**
   * ratio of line:whitespace in the fill pattern
   */
  patternThickness?: number;
  /**
   * NOT USED
   */
  nearestPoint?: IndexSearchResult | null;
}

// eslint-disable-next-line no-unused-vars
withDefaults(defineProps<ThresholdAreaProps>(), {
  isX: false,
  label: null,
  color: null,
  nearestPoint: null,
  patternRotation: 0,
  patternThickness: 1
});

const thresholdId = Math.round(Math.random() * 100_000);
const filterId = `#blurMe-${thresholdId}`;

// the following works but nothing uses it yet
// const nearestPointInsideThreshold = computed(() => {
//   const dp = props.nearestPoint?.node?.dataPoint;
//   if (dp) {
//     if (props.isX) {
//       return dp.x >= props.min && dp.x <= props.max;
//     } else {
//       return dp.y >= props.min && dp.y <= props.max;
//     }
//   }
//   return false;
// });
</script>

<template>
  <g
    v-if="layout.plotWidth > 0 && layout.computedHeight > 0"
    class="threshold"
    :class="{ isX }"
    :style="color !== null ? `--manualColor: ${color}` : ''"
  >
    <defs>
      <filter :id="filterId">
        <feFlood
          :flood-color="color || `var(--thresholdAreaDefaultSurface)`"
          x="0"
          y="0"
          width="100%"
          height="100%"
        />
      </filter>

      <pattern
        :id="`diagonal-${thresholdId}`"
        :key="`pattern-${patternRotation}-${patternThickness}`"
        patternUnits="userSpaceOnUse"
        :patternTransform="`rotate(${patternRotation}) scale(2)`"
        width="4"
        height="4"
      >
        <rect x="0" y="0" width="4" height="4" fill="black" />
        <path
          d="M-1,1 l2,-2 M0,4 l4,-4 M3,5 l2,-2"
          stroke="white"
          :stroke-width="patternThickness"
        />
      </pattern>

      <mask :id="`mask-${thresholdId}`" x="0" y="0" width="1" height="1">
        <rect
          x="0"
          y="0"
          width="100%"
          height="100%"
          :fill="`url(#diagonal-${thresholdId})`"
        />
      </mask>
    </defs>

    <rect
      class="pattern"
      :x="isX ? scaler.scale(min) : 0"
      :y="isX ? 0 : scaler.scale(min)"
      :mask="`url(#mask-${thresholdId})`"
      :width="isX ? scaler.scale(max) - scaler.scale(min) : layout.plotWidth"
      :height="isX ? layout.plotHeight : scaler.scale(max) - scaler.scale(min)"
      :fill="
        color !== null
          ? `var(--manualColor)`
          : `var(--thresholdAreaDefaultSurface)`
      "
      :filter="`url(#${filterId})`"
    />

    <!-- <text
      :x="domState.plotWidth - 8"
      :y="domState.plotHeight - 8"
      v-text="label"
    /> -->
  </g>
</template>

<style lang="scss">
.threshold {
  $transition: all 0.25s ease-in-out;
  .pattern {
    mix-blend-mode: normal;
    opacity: 0.25;
    transition: $transition;
  }
  text {
    text-anchor: end;
    dominant-baseline: text-top;
    text-transform: uppercase;
    font-family: var(--thresholdLabelFontFamily);
    font-size: 16px;
    font-weight: 300;
    fill: var(--manualColor, var(--activePlotColor));
    opacity: 0;
    transition: $transition;
  }

  &:hover {
    text {
      opacity: 1;
    }
    .text-container:not(.pattern) {
      fill: rgba(255, 255, 255);

      opacity: 1;
    }
    // rect {
    //   fill: white;
    // }
  }
}
</style>
